Repository DTStack/chunjun, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, ASSEMBLY, CLIENTS, CORE, DDL, DIRTY, DOCKER, E2E, LOCAL_TEST, METRICS, RESTORE, BINLOG, CASSANDRA, CLICKHOUSE, DB2, DM, DORIS, ELASTICSEARCH6, ELASTICSEARCH7, ELASTICSEARCH, EMQX, FILE, FTP, GREENPLUM, HBASE2, HBASE-1.4, HBASE, HDFS, HIVE, HIVE3, HTTP, ICEBERG, INFLUXDB, JDBC, KAFKA, KUDU, MONGODB, MYSQL, MYSQL-CDC, MYSQLD, NEBULA, OCEANBASE, OCEANBASE-CDC, ORACLE, ORACLELOGMINER, POSTGRESQL, RABBITMQ, REDIS, ROCKETMQ, S3, SAPHANA, SELECTDB, SOCKET, SOLR, SQLSERVER, SQLSERVER-CDC, STARROCKS, STREAM, SYBASE, VERTICA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - build/*
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
  - chunjun-examples/**/*
ASSEMBLY:
  - chunjun-assembly/**/*
CLIENTS:
  - chunjun-clients/**/*
CORE:
  - chunjun-core/**/*
DDL:
  - chunjun-ddl/**/*
DIRTY:
  - chunjun-dirty/**/*
DOCKER:
  - chunjun-docker/**/*
E2E:
  - chunjun-docker/**/*
LOCAL_TEST:
  - chunjun-local-test/**/*
METRICS:
  - chunjun-metrics/**/*
RESTORE:
  - chunjun-restore/**/*
BINLOG:
  - chunjun-connectors/chunjun-connector-binlog/**/*
CASSANDRA:
  - chunjun-connectors/chunjun-connector-cassandra/**/*
CLICKHOUSE:
  - chunjun-connectors/chunjun-connector-clickhouse/**/*
DB2:
  - chunjun-connectors/chunjun-connector-db2/**/*
DM:
  - chunjun-connectors/chunjun-connector-dm/**/*
DORIS:
  - chunjun-connectors/chunjun-connector-doris/**/*
ELASTICSEARCH6:
  - chunjun-connectors/chunjun-connector-elasticsearch6/**/*
ELASTICSEARCH7:
    - chunjun-connectors/chunjun-connector-elasticsearch7/**/*
ELASTICSEARCH:
  - chunjun-connectors/chunjun-connector-elasticsearch-base/**/*
EMQX:
  - chunjun-connectors/chunjun-connector-emqx/**/*
FILE:
  - chunjun-connectors/chunjun-connector-file/**/*
FTP:
  - chunjun-connectors/chunjun-connector-ftp/**/*
GREENPLUM:
  - chunjun-connectors/chunjun-connector-greenplum/**/*
HBASE2:
    - chunjun-connectors/chunjun-connector-hbase2/**/*
HBASE-1.4:
    - chunjun-connectors/chunjun-connector-hbase-1.4/**/*
HBASE:
    - chunjun-connectors/chunjun-connector-hbase-base/**/*
HDFS:
  - chunjun-connectors/chunjun-connector-hdfs/**/*
HIVE:
    - chunjun-connectors/chunjun-connector-hive/**/*
HIVE3:
    - chunjun-connectors/chunjun-connector-hive3/**/*
HTTP:
    - chunjun-connectors/chunjun-connector-http/**/*
ICEBERG:
    - chunjun-connectors/chunjun-connector-iceberg/**/*
INFLUXDB:
    - chunjun-connectors/chunjun-connector-influxdb/**/*
JDBC:
    - chunjun-connectors/chunjun-connector-jdbc/**/*
KAFKA:
    - chunjun-connectors/chunjun-connector-kafka/**/*
KUDU:
    - chunjun-connectors/chunjun-connector-kudu/**/*
MONGODB:
    - chunjun-connectors/chunjun-connector-mongodb/**/*
MYSQL:
    - chunjun-connectors/chunjun-connector-mysql/**/*
MYSQL-CDC:
    - chunjun-connectors/chunjun-connector-mysqlcdc/**/*
MYSQLD:
    - chunjun-connectors/chunjun-connector-mysqld/**/*
NEBULA:
    - chunjun-connectors/chunjun-connector-nebula/**/*
OCEANBASE:
    - chunjun-connectors/chunjun-connector-oceanbase/**/*
OCEANBASE-CDC:
    - chunjun-connectors/chunjun-connector-oceanbasecdc/**/*
ORACLE:
    - chunjun-connectors/chunjun-connector-oracle/**/*
ORACLELOGMINER:
    - chunjun-connectors/chunjun-connector-oraclelogminer/**/*
POSTGRESQL:
    - chunjun-connectors/chunjun-connector-postgresql/**/*
RABBITMQ:
    - chunjun-connectors/chunjun-connector-rabbitmq/**/*
REDIS:
    - chunjun-connectors/chunjun-connector-redis/**/*
ROCKETMQ:
    - chunjun-connectors/chunjun-connector-rocketmq/**/*
S3:
    - chunjun-connectors/chunjun-connector-s3/**/*
SAPHANA:
    - chunjun-connectors/chunjun-connector-saphana/**/*
SELECTDB:
    - chunjun-connectors/chunjun-connector-selectdb-cloud/**/*
SOCKET:
    - chunjun-connectors/chunjun-connector-socket/**/*
SOLR:
    - chunjun-connectors/chunjun-connector-solr/**/*
SQLSERVER:
    - chunjun-connectors/chunjun-connector-sqlserver/**/*
SQLSERVER-CDC:
    - chunjun-connectors/chunjun-connector-sqlservercdc/**/*
STARROCKS:
    - chunjun-connectors/chunjun-connector-starrocks/**/*
STREAM:
    - chunjun-connectors/chunjun-connector-stream/**/*
SYBASE:
    - chunjun-connectors/chunjun-connector-sybase/**/*
VERTICA:
    - chunjun-connectors/chunjun-connector-vertica11/**/*

[fix-#1832][dirty] Fixed Prometheus nErrors failing to synchronize last day failure records (#1833)
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/manager/DirtyManager.java
Labels: CORE

[hotfix-#1834][connector][kafka] Fixed missing dependencies
  chunjun-connectors/chunjun-connector-kafka/pom.xml
Labels: KAFKA

[hotfix-#1834][connector][kafka] Fixed missing dependencies (#1835)
  chunjun-connectors/chunjun-connector-kafka/pom.xml
Labels: KAFKA

[hotfix-#1745][connector][hdfs][hive] Data loss occurs when multiple tasks write to the same hdfs (or hive) data source
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/table/HdfsDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/sink/BaseHdfsOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/config/BaseFileConfig.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseFileOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/table/options/BaseFileOptions.java
Labels: CORE, HDFS, HIVE, HIVE3

[hotfix-#1745][connector][hdfs][hive] Data loss occurs when multiple tasks write to the same hdfs (or hive) data source
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/table/HdfsDynamicTableFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/config/BaseFileConfig.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseFileOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/table/options/BaseFileOptions.java
  chunjun-examples/sql/hdfs/stream_sink_hdfs.sql
Labels: DOCS, CORE, HDFS

[hotfix-#1745][connector][hdfs][hive] Data loss occurs when multiple tasks write to the same hdfs (or hive) data source
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/table/HdfsDynamicTableFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/config/BaseFileConfig.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseFileOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/table/options/BaseFileOptions.java
  chunjun-examples/sql/hdfs/stream_sink_hdfs.sql
Labels: DOCS, CORE, HDFS

feat:kafka sync 支持canal-json
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaCanalSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/serialization/RowDeserializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/source/KafkaSourceFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
Labels: CORE, KAFKA

[Feature-#1842][ftp] Added compress and write mode when writing, fixed the config of sftp is null
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/enums/CompressType.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/security/KerberosUtil.java
Labels: CORE, FTP

[Feature-#1842][ftp] Added compress and write mode when writing, fixed the config of sftp is null
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/enums/CompressType.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/security/KerberosUtil.java
Labels: CORE, FTP

[hotfix-#1849][jdbc] fixed load data using lru method is empty, hide clear text passwords in logs, fixed build cache key when GenericRowData
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcSqlConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/lookup/JdbcLruTableFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/lookup/AbstractLruTableFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
Labels: CORE

[hotfix-#1849][jdbc] fixed load data using lru method is empty, hide clear text passwords in logs, fixed build cache key when GenericRowData
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcSqlConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/lookup/JdbcLruTableFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/lookup/AbstractLruTableFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
Labels: CORE

[bugfix][hbase] fix deliver a null string causes dimensional table timeout problem
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/lookup/HBaseLruTableFunction.java
Labels: HBASE

[bugfix][redis] fix application failed when redis single node down
  chunjun-connectors/chunjun-connector-redis/pom.xml
Labels: REDIS

[bugfix][kudu] fix postgresql dimension table appear class conflict error when kudu as sink table
  chunjun-connectors/chunjun-connector-kudu/pom.xml
Labels: KUDU

[Feature-#1851][socket] Support reading data from socket connector in sql mode
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/converter/SocketSqlConverter.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/inputformat/SocketInputFormat.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/inputformat/SocketInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/options/SocketOptions.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/source/SocketDynamicTableSource.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/table/SocketDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-socket/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: SOCKET

[hotfix-#1853] [connector jdbc] jdbc toInternal methods should process data by field name rather than index #1853
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcSqlConverter.java
Labels: none

[hotfix-1856] [chunjun-core] Fix the problem that oss's secret should be hidden
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
Labels: CORE

[bugfix][jdbc] fix uniqueKey NPE
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/config/JdbcConfig.java
Labels: none

[bugfix][jdbc] fix uniqueKey NPE
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/config/JdbcConfig.java
Labels: none

[Feature-#1851][socket] Support reading data from socket connector in sql mode
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/converter/SocketSqlConverter.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/inputformat/SocketInputFormat.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/inputformat/SocketInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/options/SocketOptions.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/source/SocketDynamicTableSource.java
  chunjun-connectors/chunjun-connector-socket/src/main/java/com/dtstack/chunjun/connector/socket/table/SocketDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-socket/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: SOCKET

[hotfix-#1853] [connector jdbc] jdbc toInternal methods should process data by field name rather than index #1853
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcDynamicTableSource.java
Labels: none

[hotfix-#1853] [connector jdbc] jdbc toInternal methods should process data by field name rather than index #1853
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcDynamicTableSource.java
Labels: none

[hotfix-1856] [chunjun-core] Fix the problem that oss's secret should be hidden
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
Labels: CORE

fix: Fixed conflicts between flink-table-planner-loader and flink-table-planner_ fix: Fixed an IP issue where doris connection could not get 1.x-2.x versions of BE correctly
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/rest/module/BackendRow.java
  pom.xml
Labels: CLIENTS, DORIS

[chunjun-server] 添加add server 对properties 文件的支持。
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/util/YarnSessionClientUtil.java
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/yarn/YarnSessionClusterClientHelper.java
  chunjun-server/src/main/java/com/dtstack/chunjun/client/YarnSessionClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/ChunJunConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/ChunJunServerOptions.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/SessionConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/options/ServerOptions.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/ServerLauncher.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionDeployer.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionManager.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionStatusInfo.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionStatusMonitor.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/util/EnvUtil.java
  chunjun-server/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: CLIENTS

[chunjun-server] add session monitor,and session deployer
  bin/start-server.sh
  chunjun-clients/pom.xml
  chunjun-local-test/pom.xml
  chunjun-server/pom.xml
  chunjun-server/src/main/java/com/dtstack/chunjun/client/YarnSessionClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionDeployer.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionManager.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/util/EnvUtil.java
  chunjun-server/src/main/java/org/apache/flink/yarn/CJYarnClusterDescriptor.java
  chunjun-server/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  conf/application.properties
Labels: CLIENTS, LOCAL_TEST

[chunjun-server] 回滚被注释掉掉内容
  chunjun-connectors/pom.xml
  chunjun-ddl/pom.xml
  chunjun-restore/chunjun-restore-common/pom.xml
  chunjun-restore/chunjun-restore-mysql/pom.xml
  chunjun-restore/pom.xml
  pom.xml
Labels: DDL, RESTORE

[chunjun-server] 回滚其他功能调整的改动在该提交里面。
  bin/start-server.sh
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/lookup/JdbcLruTableFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/lookup/AbstractLruTableFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
  chunjun-core/src/test/java/com/dtstack/chunjun/lookup/AbstractLruTableFunctionTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/lookup/MockLruTableFunction.java
  pom.xml
Labels: CORE

[Feature-#1862][s3] Added support for reading compressed format files , writing multiple objects etc.
  chunjun-connectors/chunjun-connector-s3/pom.xml
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/config/S3Config.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/enums/CompressType.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/sink/S3DynamicTableSink.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/sink/S3OutputFormat.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/source/S3DynamicTableSource.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/source/S3InputFormat.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/table/S3DynamicTableFactory.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/table/options/S3Options.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/util/S3Util.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
Labels: CORE, S3

[Feature-#1862][s3] Added support for reading compressed format files , writing multiple objects etc.
  chunjun-connectors/chunjun-connector-s3/pom.xml
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/config/S3Config.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/enums/CompressType.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/sink/S3DynamicTableSink.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/sink/S3OutputFormat.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/source/S3DynamicTableSource.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/source/S3InputFormat.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/table/S3DynamicTableFactory.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/table/options/S3Options.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/util/S3Util.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JsonUtil.java
Labels: CORE, S3

[hotfix-#1869] [connector-jdbc-base] Using Collections.singletonList returns an unmodifiable list, but modifications are made in the code
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactory.java
Labels: none

[feature-#1775][connector][http] http supports offline mode
  chunjun-connectors/chunjun-connector-http/pom.xml
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/client/HttpClient.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/client/OfflineJsonResponseParse.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/common/ConstantValue.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/common/HttpRestConfig.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/inputformat/HttpInputFormat.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/table/HttpDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/table/HttpDynamicTableSource.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/table/HttpOptions.java
  chunjun-examples/sql/http/offline_http_array_page_print.sql
  chunjun-examples/sql/http/offline_http_array_print.sql
  chunjun-examples/sql/http/offline_http_single_page_print.sql
  chunjun-examples/sql/http/offline_http_single_print.sql
  docs/docs_zh/ChunJun连接器/http/http-offline-source.md
Labels: DOCS, HTTP

[Bug][chunjun-connectors] jdbc's properties not work where jdbc's reader has set properties
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-core/src/test/java/com/dtstack/chunjun/config/BaseFileConfigTest.java
Labels: CORE

[chunjun-core] bug fix for local mode.
  chunjun-core/pom.xml
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
  chunjun-core/src/main/java/com/dtstack/chunjun/environment/EnvFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/ConnectorNameConvertUtil.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/PluginUtil.java
Labels: CORE

[chunjun-core] bug fix for local mode.
  chunjun-core/src/main/java/com/dtstack/chunjun/util/ConnectorNameConvertUtil.java
Labels: CORE

[hotfix-#1869] [connector-jdbc-base] Using Collections.singletonList returns an unmodifiable list, but modifications are made in the code
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactory.java
Labels: none

[chunjun-core] bug fix for local mode.
  chunjun-core/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
Labels: CORE

[chunjun-core] fix base file config test.
  chunjun-core/src/test/java/com/dtstack/chunjun/config/BaseFileConfigTest.java
Labels: CORE

[Bug][chunjun-connectors] jdbc's properties not work where jdbc's reader has set properties
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-core/src/test/java/com/dtstack/chunjun/config/BaseFileConfigTest.java
Labels: CORE

[hotfix-1881][ddl]resolve maven package failed
  chunjun-ddl/chunjun-ddl-oracle/pom.xml
Labels: DDL
