Repository DTStack/chunjun, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, ASSEMBLY, CLIENTS, CORE, DDL, DIRTY, DOCKER, E2E, LOCAL_TEST, METRICS, RESTORE, BINLOG, CASSANDRA, CLICKHOUSE, DB2, DM, DORIS, ELASTICSEARCH6, ELASTICSEARCH7, ELASTICSEARCH, EMQX, FILE, FTP, GREENPLUM, HBASE2, HBASE-1.4, HBASE, HDFS, HIVE, HIVE3, HTTP, ICEBERG, INFLUXDB, JDBC, KAFKA, KUDU, MONGODB, MYSQL, MYSQL-CDC, MYSQLD, NEBULA, OCEANBASE, OCEANBASE-CDC, ORACLE, ORACLELOGMINER, POSTGRESQL, RABBITMQ, REDIS, ROCKETMQ, S3, SAPHANA, SELECTDB, SOCKET, SOLR, SQLSERVER, SQLSERVER-CDC, STARROCKS, STREAM, SYBASE, VERTICA

[feat-#1619][core] Optimize set syntax to not take effect, Optimize the waiting time for indicator reporting, optimize the numWrite indicator value error, etc. (#1620)
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
  chunjun-core/src/main/java/com/dtstack/chunjun/environment/EnvFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/metrics/BaseMetric.java
  chunjun-core/src/main/java/com/dtstack/chunjun/options/Options.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sql/parser/SetStmtParser.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sql/parser/SqlParser.java
Labels: CORE

[hotfix-#1625][chunjun] compile master branch error: NoSuchMethodError: org.fusesource.jansi.AnsiConsole.wrapOutputStream(Ljava/io/OutputStream;)Ljava/io/OutputStream;
  pom.xml
Labels: none

[hotfix-#1625][chunjun] compile master branch error: NoSuchMethodError: org.fusesource.jansi.AnsiConsole.wrapOutputStream(Ljava/io/OutputStream;)Ljava/io/OutputStream; (#1626)
  pom.xml
Labels: none

[hotfix-#1627][mysql] fixed dependency problem , Upgrade mysql connector dependencies
  chunjun-connectors/chunjun-connector-mysql/pom.xml
Labels: MYSQL

[hotfix-#1627][mysql] fixed dependency problem , Upgrade mysql connector dependencies (#1628)
  chunjun-connectors/chunjun-connector-mysql/pom.xml
Labels: MYSQL

[hotfix-#1629][client]fixed NullPointerException in local mode.
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/Launcher.java
Labels: CLIENTS

[feat-#1632][jdbc]Solve ClassCastException, optimize the problem of invalid database connection when writing
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcSqlConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/converter/MysqlRawTypeConverter.java
Labels: MYSQL

[hotfix-#1629][client]fixed NullPointerException in local mode. (#1631)
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/Launcher.java
Labels: CLIENTS

[feat-#1632][jdbc]Solve ClassCastException, optimize the problem of invalid database connection when writing (#1634)
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcSqlConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/converter/MysqlRawTypeConverter.java
Labels: MYSQL

[hotfix-#1652][core]Fix problems in various operating modes
  chunjun-clients/pom.xml
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/Launcher.java
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
Labels: CLIENTS, CORE

[hotfix-#1652][core]Fix problems in various operating modes (#1655)
  chunjun-clients/pom.xml
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/Launcher.java
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
Labels: CLIENTS, CORE

[feat-#1647][hdfs] Support to generate an empty file with a specified file name in the target directory, and other optimization
  chunjun-connectors/chunjun-connector-hdfs/pom.xml
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/config/HdfsConfig.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextColumnConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/options/HdfsOptions.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsTextInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/table/HdfsDynamicTableFactory.java
Labels: HDFS

[feat-#1647][hdfs] Support to generate an empty file with a specified file name in the target directory, and other optimization
  chunjun-connectors/chunjun-connector-hdfs/pom.xml
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/config/HdfsConfig.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextColumnConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/options/HdfsOptions.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsTextInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/table/HdfsDynamicTableFactory.java
Labels: HDFS

[feat-#1649][hive] Support jdbc mode to read hive
  chunjun-connectors/chunjun-connector-hive/pom.xml
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/converter/HiveJdbcColumnConverter.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/converter/HiveRawTypeConverter.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/dialect/HiveDialect.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveSourceFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
Labels: HIVE

[Feature][Connector][Kingbase] Add kingbase connector.
  chunjun-connectors/chunjun-connector-kingbase/pom.xml
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/converter/KingbaseRawTypeMapper.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/converter/KingbaseSqlConverter.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/converter/KingbaseSyncConverter.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/dialect/KingbaseDialect.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/sink/KingbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/source/KingbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/table/KingbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/util/KingbaseConstants.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST

[feat-#1649][hive] Support jdbc mode to read hive (#1658)
  chunjun-connectors/chunjun-connector-hive/pom.xml
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/converter/HiveJdbcColumnConverter.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/converter/HiveRawTypeConverter.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/dialect/HiveDialect.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveSourceFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
Labels: HIVE

[Feature][Connector][Kingbase] Add kingbase connector. (#1663)
  chunjun-connectors/chunjun-connector-kingbase/pom.xml
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/converter/KingbaseRawTypeMapper.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/converter/KingbaseSqlConverter.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/converter/KingbaseSyncConverter.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/dialect/KingbaseDialect.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/sink/KingbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/source/KingbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/table/KingbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/util/KingbaseConstants.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST

增加hudi json写能力功能实现
  chunjun-connectors/chunjun-connector-hudi/.gitignore
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/adaptor/HudiOnChunjunAdaptor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
  pom.xml
Labels: none

hudi功能
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/source/HudiSourceFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/table/HudiDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/utils/HudiConfigUtil.java
  chunjun-connectors/chunjun-connector-hudi/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[bug-#1662][connector][jdbc] implementation provided for SupportsProjectionPushDown
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcDynamicTableSource.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/dialect/KingbaseDialect.java
Labels: none

[Hotfix-#1662][connector][jdbc] implementation provided for SupportsProjectionPushDown (#1664)
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcDynamicTableSource.java
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/dialect/KingbaseDialect.java
Labels: none

[bug-#1667][connector][starrocks] fixed get routings null pointer exception
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/source/be/StarRocksQueryPlanVisitor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/source/be/entity/Tablet.java
Labels: STARROCKS

增加hudi json写能力功能实现
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
Labels: none

增加hudi json写能力功能实现
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
Labels: none

[Hotfix-#1667][connector][starrocks] fixed get routings null pointer exception (#1668)
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/source/be/StarRocksQueryPlanVisitor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/source/be/entity/Tablet.java
Labels: STARROCKS

增加hudi json写能力功能实现
  chunjun-examples/json/hudi/hudi2hudi.json
Labels: DOCS

[feat-#1670][core] Support yarn log output dirty data details
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollector.java
  chunjun-core/src/test/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollectorTest.java
Labels: CORE

[Feature-#1670][core] Support yarn log output dirty data details (#1671)
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollector.java
  chunjun-core/src/test/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollectorTest.java
Labels: CORE

增加hudi json写能力功能实现
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
  chunjun-core/pom.xml
  pom.xml
Labels: CLIENTS, CORE

增加hudi json写能力功能实现
  chunjun-connectors/chunjun-connector-hudi/pom.xml
Labels: none

hudi read
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataConvertorMap.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/source/HudiSourceFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/table/HudiDynamicTableFactory.java
  chunjun-connectors/pom.xml
  chunjun-core/pom.xml
  pom.xml
Labels: CLIENTS, CORE

[hotfix-#1674][connector][hdfs] fixed Unexpected end of input stream
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/BaseHdfsInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsTextInputFormat.java
Labels: HDFS

增加hudi json写能力功能实现
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/adaptor/HudiOnChunjunAdaptor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
  chunjun-connectors/pom.xml
Labels: none

hudi read
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataConvertorMap.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/source/HudiSourceFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/table/HudiDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/utils/HudiConfigUtil.java
Labels: none

[Improve][JDBC]jdbcOutputFormat use statementWrapper
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/dialect/ClickhouseDialect.java
  chunjun-connectors/chunjun-connector-db2/src/main/java/com/dtstack/chunjun/connector/db2/dialect/Db2Dialect.java
  chunjun-connectors/chunjun-connector-dm/src/main/java/com/dtstack/chunjun/connector/dm/dialect/DmDialect.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/dialect/GreenplumDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/DynamicPreparedStmt.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcDynamicTableSink.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/PreparedStmtProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/InsertOrUpdateStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/JdbcBatchStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/SimpleStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/StatementWrapperUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/InsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/InsertOrUpdateCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/NoKeyInsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/UpsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/CachedWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/DynamicSimpleDeleteWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/NoKeyDeleteWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/RestoreWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatement.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatementImpl.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialectTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatTest.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/dialect/OracleDialect.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/dialect/PostgresqlDialect.java
  chunjun-connectors/chunjun-connector-saphana/src/main/java/com/dtstack/chunjun/connector/saphana/dialect/SaphanaDialect.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/dialect/SqlserverDialect.java
  chunjun-connectors/chunjun-connector-sybase/src/main/java/com/dtstack/chunjun/connector/sybase/converter/SybaseSyncConverter.java
  chunjun-connectors/chunjun-connector-vertica11/src/main/java/com/dtstack/chunjun/connector/vertica11/sink/Vertica11OutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-examples/sql/starrocks/stream_starrocks.sql
Labels: DOCS, CORE, CLICKHOUSE, DB2, DM, DORIS, GREENPLUM, MYSQL, ORACLE, POSTGRESQL, SAPHANA, SQLSERVER, SYBASE, VERTICA

[Improve][JDBC]jdbcOutputFormat use statementWrapper (#1676)
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/dialect/ClickhouseDialect.java
  chunjun-connectors/chunjun-connector-db2/src/main/java/com/dtstack/chunjun/connector/db2/dialect/Db2Dialect.java
  chunjun-connectors/chunjun-connector-dm/src/main/java/com/dtstack/chunjun/connector/dm/dialect/DmDialect.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/dialect/GreenplumDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/DynamicPreparedStmt.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcDynamicTableSink.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/PreparedStmtProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/InsertOrUpdateStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/JdbcBatchStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/SimpleStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/StatementWrapperUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/InsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/InsertOrUpdateCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/NoKeyInsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/UpsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/CachedWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/DynamicSimpleDeleteWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/NoKeyDeleteWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/RestoreWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatement.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatementImpl.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialectTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatTest.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/dialect/OracleDialect.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/dialect/PostgresqlDialect.java
  chunjun-connectors/chunjun-connector-saphana/src/main/java/com/dtstack/chunjun/connector/saphana/dialect/SaphanaDialect.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/dialect/SqlserverDialect.java
  chunjun-connectors/chunjun-connector-sybase/src/main/java/com/dtstack/chunjun/connector/sybase/converter/SybaseSyncConverter.java
  chunjun-connectors/chunjun-connector-vertica11/src/main/java/com/dtstack/chunjun/connector/vertica11/sink/Vertica11OutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-examples/sql/starrocks/stream_starrocks.sql
Labels: DOCS, CORE, CLICKHOUSE, DB2, DM, DORIS, GREENPLUM, MYSQL, ORACLE, POSTGRESQL, SAPHANA, SQLSERVER, SYBASE, VERTICA

[hotfix-#1674][connector][hdfs] fixed Unexpected end of input stream
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/BaseHdfsInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsTextInputFormat.java
Labels: HDFS

增加hudi json写能力功能实现
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/adaptor/HudiOnChunjunAdaptor.java
Labels: none

Fix EmqxRowConverter.toExternal NullPointerException
  chunjun-connectors/chunjun-connector-emqx/src/main/java/com/dtstack/chunjun/connector/emqx/converter/EmqxRowConverter.java
Labels: EMQX

[Hotfix-#1673][Emqx] Fix EmqxRowConverter.toExternal NullPointerException (#1677)
  chunjun-connectors/chunjun-connector-emqx/src/main/java/com/dtstack/chunjun/connector/emqx/converter/EmqxRowConverter.java
Labels: EMQX

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - build/*
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
  - chunjun-examples/**/*
ASSEMBLY:
  - chunjun-assembly/**/*
CLIENTS:
  - chunjun-clients/**/*
CORE:
  - chunjun-core/**/*
DDL:
  - chunjun-ddl/**/*
DIRTY:
  - chunjun-dirty/**/*
DOCKER:
  - chunjun-docker/**/*
E2E:
  - chunjun-docker/**/*
LOCAL_TEST:
  - chunjun-local-test/**/*
METRICS:
  - chunjun-metrics/**/*
RESTORE:
  - chunjun-restore/**/*
BINLOG:
  - chunjun-connectors/chunjun-connector-binlog/**/*
CASSANDRA:
  - chunjun-connectors/chunjun-connector-cassandra/**/*
CLICKHOUSE:
  - chunjun-connectors/chunjun-connector-clickhouse/**/*
DB2:
  - chunjun-connectors/chunjun-connector-db2/**/*
DM:
  - chunjun-connectors/chunjun-connector-dm/**/*
DORIS:
  - chunjun-connectors/chunjun-connector-doris/**/*
ELASTICSEARCH6:
  - chunjun-connectors/chunjun-connector-elasticsearch6/**/*
ELASTICSEARCH7:
    - chunjun-connectors/chunjun-connector-elasticsearch7/**/*
ELASTICSEARCH:
  - chunjun-connectors/chunjun-connector-elasticsearch-base/**/*
EMQX:
  - chunjun-connectors/chunjun-connector-emqx/**/*
FILE:
  - chunjun-connectors/chunjun-connector-file/**/*
FTP:
  - chunjun-connectors/chunjun-connector-ftp/**/*
GREENPLUM:
  - chunjun-connectors/chunjun-connector-greenplum/**/*
HBASE2:
    - chunjun-connectors/chunjun-connector-hbase2/**/*
HBASE-1.4:
    - chunjun-connectors/chunjun-connector-hbase-1.4/**/*
HBASE:
    - chunjun-connectors/chunjun-connector-hbase-base/**/*
HDFS:
  - chunjun-connectors/chunjun-connector-hdfs/**/*
HIVE:
    - chunjun-connectors/chunjun-connector-hive/**/*
HIVE3:
    - chunjun-connectors/chunjun-connector-hive3/**/*
HTTP:
    - chunjun-connectors/chunjun-connector-http/**/*
ICEBERG:
    - chunjun-connectors/chunjun-connector-iceberg/**/*
INFLUXDB:
    - chunjun-connectors/chunjun-connector-influxdb/**/*
JDBC:
    - chunjun-connectors/chunjun-connector-jdbc/**/*
KAFKA:
    - chunjun-connectors/chunjun-connector-kafka/**/*
KUDU:
    - chunjun-connectors/chunjun-connector-kudu/**/*
MONGODB:
    - chunjun-connectors/chunjun-connector-mongodb/**/*
MYSQL:
    - chunjun-connectors/chunjun-connector-mysql/**/*
MYSQL-CDC:
    - chunjun-connectors/chunjun-connector-mysqlcdc/**/*
MYSQLD:
    - chunjun-connectors/chunjun-connector-mysqld/**/*
NEBULA:
    - chunjun-connectors/chunjun-connector-nebula/**/*
OCEANBASE:
    - chunjun-connectors/chunjun-connector-oceanbase/**/*
OCEANBASE-CDC:
    - chunjun-connectors/chunjun-connector-oceanbasecdc/**/*
ORACLE:
    - chunjun-connectors/chunjun-connector-oracle/**/*
ORACLELOGMINER:
    - chunjun-connectors/chunjun-connector-oraclelogminer/**/*
POSTGRESQL:
    - chunjun-connectors/chunjun-connector-postgresql/**/*
RABBITMQ:
    - chunjun-connectors/chunjun-connector-rabbitmq/**/*
REDIS:
    - chunjun-connectors/chunjun-connector-redis/**/*
ROCKETMQ:
    - chunjun-connectors/chunjun-connector-rocketmq/**/*
S3:
    - chunjun-connectors/chunjun-connector-s3/**/*
SAPHANA:
    - chunjun-connectors/chunjun-connector-saphana/**/*
SELECTDB:
    - chunjun-connectors/chunjun-connector-selectdb-cloud/**/*
SOCKET:
    - chunjun-connectors/chunjun-connector-socket/**/*
SOLR:
    - chunjun-connectors/chunjun-connector-solr/**/*
SQLSERVER:
    - chunjun-connectors/chunjun-connector-sqlserver/**/*
SQLSERVER-CDC:
    - chunjun-connectors/chunjun-connector-sqlservercdc/**/*
STARROCKS:
    - chunjun-connectors/chunjun-connector-starrocks/**/*
STREAM:
    - chunjun-connectors/chunjun-connector-stream/**/*
SYBASE:
    - chunjun-connectors/chunjun-connector-sybase/**/*
VERTICA:
    - chunjun-connectors/chunjun-connector-vertica11/**/*
