Repository DTStack/chunjun, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, ASSEMBLY, CLIENTS, CORE, DDL, DIRTY, DOCKER, E2E, LOCAL_TEST, METRICS, RESTORE, BINLOG, CASSANDRA, CLICKHOUSE, DB2, DM, DORIS, ELASTICSEARCH6, ELASTICSEARCH7, ELASTICSEARCH, EMQX, FILE, FTP, GREENPLUM, HBASE2, HBASE-1.4, HBASE, HDFS, HIVE, HIVE3, HTTP, ICEBERG, INFLUXDB, JDBC, KAFKA, KUDU, MONGODB, MYSQL, MYSQL-CDC, MYSQLD, NEBULA, OCEANBASE, OCEANBASE-CDC, ORACLE, ORACLELOGMINER, POSTGRESQL, RABBITMQ, REDIS, ROCKETMQ, S3, SAPHANA, SELECTDB, SOCKET, SOLR, SQLSERVER, SQLSERVER-CDC, STARROCKS, STREAM, SYBASE, VERTICA

[hotfix-1881][ddl]resolve maven package failed
  chunjun-core/src/test/java/com/dtstack/chunjun/config/BaseFileConfigTest.java
Labels: CORE

[hotfix-1881][ddl]resolve maven package failed
  chunjun-ddl/chunjun-ddl-oracle/pom.xml
Labels: DDL

[hotfix-1881][ddl]resolve maven package failed
  chunjun-core/src/test/java/com/dtstack/chunjun/config/BaseFileConfigTest.java
Labels: CORE

[chunjun-core] bug fix for local mode.
  chunjun-core/src/main/java/com/dtstack/chunjun/util/ConnectorNameConvertUtil.java
Labels: CORE

[chunjun-core] bug fix for local mode.
  chunjun-core/pom.xml
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
  chunjun-core/src/main/java/com/dtstack/chunjun/environment/EnvFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/ConnectorNameConvertUtil.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/PluginUtil.java
Labels: CORE

[chunjun-core] bug fix for local mode.
  chunjun-core/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
Labels: CORE

[Feature-#1877][ftp] Supports reading Chinese paths and optimizing reading excel
  chunjun-connectors/chunjun-connector-ftp/pom.xml
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/client/excel/ExcelReadListener.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/FtpSqlConverter.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/iformat/ExcelFileFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/source/FtpDynamicTableSource.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/source/FtpInputFormat.java
Labels: FTP

[Feature-#1877][ftp] Supports reading Chinese paths and optimizing reading excel
  chunjun-connectors/chunjun-connector-ftp/pom.xml
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/client/excel/ExcelReadListener.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/FtpSqlConverter.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/iformat/ExcelFileFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/source/FtpDynamicTableSource.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/source/FtpInputFormat.java
Labels: FTP

[bugfix][iceberg] support long type
  chunjun-connectors/chunjun-connector-iceberg/src/main/java/com/dtstack/chunjun/connector/iceberg/sink/ChunjunRowDataConvertMap.java
Labels: ICEBERG

[Feature-#1889][ftp] read support column index and sheetNO
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/client/excel/ExcelReaderExecutor.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/config/FtpConfig.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/extend/ftp/IFormatConfig.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/iformat/ExcelFileFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/options/FtpOptions.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/source/FtpInputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

[Feature-#1889][ftp] read support column index and sheetNO
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/client/excel/ExcelReaderExecutor.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/config/FtpConfig.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/extend/ftp/IFormatConfig.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/iformat/ExcelFileFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/options/FtpOptions.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/source/FtpInputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

[Feature-#1886][hbase] New features in sql mode
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/HBaseTableSchema.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfig.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfigConstants.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/converter/HBaseFlatRowConverter.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerde.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSqlConverter.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormat.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseSourceFactoryBase.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseDynamicTableFactoryBase.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseDynamicTableSink.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseDynamicTableSource.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseOptions.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/lookup/HBaseAllTableFunction.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/lookup/HBaseLruTableFunction.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/util/HBaseHelper.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/HBaseTableSchemaTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerdeTest.java
  chunjun-connectors/chunjun-connector-hbase2/pom.xml
  chunjun-connectors/chunjun-connector-hbase2/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: HBASE2, HBASE

[hotfix-1786][chunjun-metrics-prometheus] Fix uploading of startLocation and endLocation metrics to PushGateway
  chunjun-metrics/chunjun-metrics-prometheus/src/main/java/com/dtstack/chunjun/metrics/prometheus/PrometheusReport.java
Labels: METRICS

[Feature-#1886][hbase] New features in sql mode
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/HBaseTableSchema.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfig.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfigConstants.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/converter/HBaseFlatRowConverter.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerde.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSqlConverter.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormat.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseSourceFactoryBase.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseDynamicTableFactoryBase.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseDynamicTableSink.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseDynamicTableSource.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/HBaseOptions.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/lookup/HBaseAllTableFunction.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/lookup/HBaseLruTableFunction.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/util/HBaseHelper.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/HBaseTableSchemaTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerdeTest.java
  chunjun-connectors/chunjun-connector-hbase2/pom.xml
  chunjun-connectors/chunjun-connector-hbase2/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: HBASE2, HBASE

[Feature-#1897][gbase8s] Added gbase8s connector and gbasehk connector
  chunjun-connectors/chunjun-connector-gbase8s/pom.xml
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/converter/Gbase8sRawTypeConverter.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/dialect/Gbase8sDialect.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/sink/Gbase8sSinkFactory.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/source/Gbase8sSourceFactory.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/table/Gbase8sDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/chunjun-connector-gbasehk/pom.xml
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/converter/GbasehkRawTypeConverter.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/dialect/GbasehkDialect.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/sink/GbasehkSinkFactory.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/source/GbasehkSourceFactory.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/table/GbasehkDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[Feature-#1899][connector][mysql] The connector supports MySQL Driver 8.x
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/converter/MysqlSqlConverter.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
Labels: MYSQL

[Feature-#1899][connector][mysql] The connector supports MySQL Driver 8.x
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/converter/MysqlSqlConverter.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
Labels: MYSQL

[Feature-#1897][gbase8s] Added gbase8s connector and gbasehk connector
  chunjun-connectors/chunjun-connector-gbase8s/pom.xml
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/converter/Gbase8sRawTypeConverter.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/dialect/Gbase8sDialect.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/sink/Gbase8sSinkFactory.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/source/Gbase8sSourceFactory.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/java/com/dtstack/chunjun/connector/gbase8s/table/Gbase8sDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-gbase8s/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/chunjun-connector-gbasehk/pom.xml
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/converter/GbasehkRawTypeConverter.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/dialect/GbasehkDialect.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/sink/GbasehkSinkFactory.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/source/GbasehkSourceFactory.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/java/com/dtstack/chunjun/connector/gbasehk/table/GbasehkDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-gbasehk/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[Feature][chunjun-core] Supports capturing dirty data from the source and when the source sends it downstream #1901
  chunjun-core/src/main/java/com/dtstack/chunjun/source/DtInputFormatSourceFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/source/format/BaseRichInputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/throwable/ReadRecordException.java
Labels: CORE

[doc]update dingding.jpg
  website/public/assets/img/dingding.jpg
  website/public/assets/img/dingding.png
Labels: none

[doc]update dingding.jpg
  website/public/assets/img/dingding.jpg
Labels: none

[doc]gbasedbtjdbc_3.5.1.jar deopendency
  .github/workflows/build.yml
Labels: INFRA

[doc]update dingding.jpg
  assets/img/dingding.jpg
Labels: none

[doc]update github url
  website/next.config.js
Labels: none

[Feature-#1897][gbasehk] annotation gbasehk connector
  chunjun-connectors/chunjun-connector-ftp/pom.xml
  chunjun-connectors/pom.xml
Labels: FTP

[Feature-#1897][gbasehk] annotation gbasehk connector
  chunjun-connectors/chunjun-connector-ftp/pom.xml
  chunjun-connectors/pom.xml
Labels: FTP

[hotfix-#1904][sqlserver] fixed No suitable driver found for jdbc jtds
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/table/SqlserverDynamicTableFactory.java
Labels: SQLSERVER

[Feature][chunjun-core] Supports capturing dirty data from the source and when the source sends it downstream #1901
  chunjun-core/src/main/java/com/dtstack/chunjun/source/DtInputFormatSourceFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/source/format/BaseRichInputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/throwable/ReadRecordException.java
Labels: CORE

[hotfix-1906][hbase]#1906 resolve hbase unit test failed
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerdeTest.java
Labels: HBASE

[hotfix-1906][hbase]#1906 resolve hbase unit test failed
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerdeTest.java
Labels: HBASE

[hotfix-#1904][sqlserver] fixed No suitable driver found for jdbc jtds
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/table/SqlserverDynamicTableFactory.java
Labels: SQLSERVER

[hotfix-#1904][sqlserver] fixed No suitable driver found for jdbc jtds
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/table/SqlserverDynamicTableFactory.java
Labels: SQLSERVER

[hotfix-1908][chunjun-connector-starrocks]: starrocks data size check
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/options/ConstantValue.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksSinkFactory.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StarRocksStreamLoadVisitor.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
Labels: CORE, STARROCKS

[hotfix-1908][chunjun-connector-starrocks]: starrocks data size check
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/options/ConstantValue.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksSinkFactory.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StarRocksStreamLoadVisitor.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
Labels: CORE, STARROCKS

[hotfix-1908][chunjun-connector-starrocks]: starrocks data size check
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksSinkFactory.java
Labels: STARROCKS

[hotfix-1908][chunjun-connector-starrocks]: starrocks data size check
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksSinkFactory.java
Labels: STARROCKS

[hotfix-#1911][starrocks] fixed stream load failed do not throw exception
  chunjun-connectors/chunjun-connector-gbase8s/pom.xml
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StreamLoadManager.java
Labels: STARROCKS

[hotfix-#1911][starrocks] fixed stream load failed do not throw exception
  chunjun-connectors/chunjun-connector-gbase8s/pom.xml
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StreamLoadManager.java
Labels: STARROCKS

[Bug-#1913][chunjun-connector-jdbc-base] clickhouse jdbc connection are not Not supporting transactions.
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
Labels: none

[Improve-#1914][chunjun-connector-clickhouse]Added support for map<string, unit>data types
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/converter/ClickhouseRawTypeConverter.java
Labels: CLICKHOUSE

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - build/*
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
  - chunjun-examples/**/*
ASSEMBLY:
  - chunjun-assembly/**/*
CLIENTS:
  - chunjun-clients/**/*
CORE:
  - chunjun-core/**/*
DDL:
  - chunjun-ddl/**/*
DIRTY:
  - chunjun-dirty/**/*
DOCKER:
  - chunjun-docker/**/*
E2E:
  - chunjun-docker/**/*
LOCAL_TEST:
  - chunjun-local-test/**/*
METRICS:
  - chunjun-metrics/**/*
RESTORE:
  - chunjun-restore/**/*
BINLOG:
  - chunjun-connectors/chunjun-connector-binlog/**/*
CASSANDRA:
  - chunjun-connectors/chunjun-connector-cassandra/**/*
CLICKHOUSE:
  - chunjun-connectors/chunjun-connector-clickhouse/**/*
DB2:
  - chunjun-connectors/chunjun-connector-db2/**/*
DM:
  - chunjun-connectors/chunjun-connector-dm/**/*
DORIS:
  - chunjun-connectors/chunjun-connector-doris/**/*
ELASTICSEARCH6:
  - chunjun-connectors/chunjun-connector-elasticsearch6/**/*
ELASTICSEARCH7:
    - chunjun-connectors/chunjun-connector-elasticsearch7/**/*
ELASTICSEARCH:
  - chunjun-connectors/chunjun-connector-elasticsearch-base/**/*
EMQX:
  - chunjun-connectors/chunjun-connector-emqx/**/*
FILE:
  - chunjun-connectors/chunjun-connector-file/**/*
FTP:
  - chunjun-connectors/chunjun-connector-ftp/**/*
GREENPLUM:
  - chunjun-connectors/chunjun-connector-greenplum/**/*
HBASE2:
    - chunjun-connectors/chunjun-connector-hbase2/**/*
HBASE-1.4:
    - chunjun-connectors/chunjun-connector-hbase-1.4/**/*
HBASE:
    - chunjun-connectors/chunjun-connector-hbase-base/**/*
HDFS:
  - chunjun-connectors/chunjun-connector-hdfs/**/*
HIVE:
    - chunjun-connectors/chunjun-connector-hive/**/*
HIVE3:
    - chunjun-connectors/chunjun-connector-hive3/**/*
HTTP:
    - chunjun-connectors/chunjun-connector-http/**/*
ICEBERG:
    - chunjun-connectors/chunjun-connector-iceberg/**/*
INFLUXDB:
    - chunjun-connectors/chunjun-connector-influxdb/**/*
JDBC:
    - chunjun-connectors/chunjun-connector-jdbc/**/*
KAFKA:
    - chunjun-connectors/chunjun-connector-kafka/**/*
KUDU:
    - chunjun-connectors/chunjun-connector-kudu/**/*
MONGODB:
    - chunjun-connectors/chunjun-connector-mongodb/**/*
MYSQL:
    - chunjun-connectors/chunjun-connector-mysql/**/*
MYSQL-CDC:
    - chunjun-connectors/chunjun-connector-mysqlcdc/**/*
MYSQLD:
    - chunjun-connectors/chunjun-connector-mysqld/**/*
NEBULA:
    - chunjun-connectors/chunjun-connector-nebula/**/*
OCEANBASE:
    - chunjun-connectors/chunjun-connector-oceanbase/**/*
OCEANBASE-CDC:
    - chunjun-connectors/chunjun-connector-oceanbasecdc/**/*
ORACLE:
    - chunjun-connectors/chunjun-connector-oracle/**/*
ORACLELOGMINER:
    - chunjun-connectors/chunjun-connector-oraclelogminer/**/*
POSTGRESQL:
    - chunjun-connectors/chunjun-connector-postgresql/**/*
RABBITMQ:
    - chunjun-connectors/chunjun-connector-rabbitmq/**/*
REDIS:
    - chunjun-connectors/chunjun-connector-redis/**/*
ROCKETMQ:
    - chunjun-connectors/chunjun-connector-rocketmq/**/*
S3:
    - chunjun-connectors/chunjun-connector-s3/**/*
SAPHANA:
    - chunjun-connectors/chunjun-connector-saphana/**/*
SELECTDB:
    - chunjun-connectors/chunjun-connector-selectdb-cloud/**/*
SOCKET:
    - chunjun-connectors/chunjun-connector-socket/**/*
SOLR:
    - chunjun-connectors/chunjun-connector-solr/**/*
SQLSERVER:
    - chunjun-connectors/chunjun-connector-sqlserver/**/*
SQLSERVER-CDC:
    - chunjun-connectors/chunjun-connector-sqlservercdc/**/*
STARROCKS:
    - chunjun-connectors/chunjun-connector-starrocks/**/*
STREAM:
    - chunjun-connectors/chunjun-connector-stream/**/*
SYBASE:
    - chunjun-connectors/chunjun-connector-sybase/**/*
VERTICA:
    - chunjun-connectors/chunjun-connector-vertica11/**/*
