Repository DTStack/chunjun, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, ASSEMBLY, CLIENTS, CORE, DDL, DIRTY, DOCKER, E2E, LOCAL_TEST, METRICS, RESTORE, BINLOG, CASSANDRA, CLICKHOUSE, DB2, DM, DORIS, ELASTICSEARCH6, ELASTICSEARCH7, ELASTICSEARCH, EMQX, FILE, FTP, GREENPLUM, HBASE2, HBASE-1.4, HBASE, HDFS, HIVE, HIVE3, HTTP, ICEBERG, INFLUXDB, JDBC, KAFKA, KUDU, MONGODB, MYSQL, MYSQL-CDC, MYSQLD, NEBULA, OCEANBASE, OCEANBASE-CDC, ORACLE, ORACLELOGMINER, POSTGRESQL, RABBITMQ, REDIS, ROCKETMQ, S3, SAPHANA, SELECTDB, SOCKET, SOLR, SQLSERVER, SQLSERVER-CDC, STARROCKS, STREAM, SYBASE, VERTICA

[Feature-#1781][connector] [doris] supports doris pre-sql and post-sql
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/table/DorisDynamicTableFactory.java
Labels: DORIS

[Feature-#1781][connector] [doris] supports doris pre-sql and post-sql (#1782)
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/table/DorisDynamicTableFactory.java
Labels: DORIS

update com.google.protobuf:protobuf-java 3.18.2 to 3.21.7
  chunjun-connectors/chunjun-connector-oceanbasecdc/pom.xml
Labels: OCEANBASE-CDC

[Feature-#1784][connector][starrocks] Support running pre-execution and post-execution sql
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/config/StarRocksConfig.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/options/StreamLoadOptions.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StarRocksQueryVisitor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/table/StarRocksDynamicTableFactory.java
Labels: STARROCKS

[Feature-#1784][connector][starrocks] Support running pre-execution and post-execution sql (#1785)
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/config/StarRocksConfig.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/options/StreamLoadOptions.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StarRocksQueryVisitor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/table/StarRocksDynamicTableFactory.java
Labels: STARROCKS

[Feature-#1787]Support hadoop 3 compilation and packaging
  chunjun-connectors/chunjun-connector-binlog/pom.xml
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/sink/GreenplumSinkFactory.java
  chunjun-connectors/chunjun-connector-hdfs/pom.xml
  chunjun-connectors/chunjun-connector-hive/pom.xml
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/config/S3Config.java
  chunjun-core/src/main/java/com/dtstack/chunjun/config/FieldConfig.java
  chunjun-core/src/main/java/com/dtstack/chunjun/element/column/StringColumn.java
  chunjun-core/src/main/java/com/dtstack/chunjun/typeutil/serializer/base/StringColumnSerializer.java
  pom.xml
Labels: CORE, BINLOG, GREENPLUM, HDFS, HIVE, S3

hotfix-#1795][hdfs] fix sink hdfs bug
  .idea/vcs.xml
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsOrcSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsParquetSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextSyncConverter.java
Labels: HDFS

hotfix-#1795][hdfs] fix sink hdfs bug (#1796)
  .idea/vcs.xml
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsOrcSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsParquetSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextSyncConverter.java
Labels: HDFS

[Feature-#1787]Support hadoop 3 compilation and packaging
  chunjun-connectors/chunjun-connector-binlog/pom.xml
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/sink/GreenplumSinkFactory.java
  chunjun-connectors/chunjun-connector-hdfs/pom.xml
  chunjun-connectors/chunjun-connector-hive/pom.xml
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/config/S3Config.java
  chunjun-core/src/main/java/com/dtstack/chunjun/config/FieldConfig.java
  chunjun-core/src/main/java/com/dtstack/chunjun/element/column/StringColumn.java
  chunjun-core/src/main/java/com/dtstack/chunjun/typeutil/serializer/base/StringColumnSerializer.java
  pom.xml
Labels: CORE, BINLOG, GREENPLUM, HDFS, HIVE, S3

update org.apache.hadoop:hadoop-common 2.7.5 to 3.3.3
  chunjun-connectors/chunjun-connector-iceberg/pom.xml
Labels: ICEBERG

update org.apache.hadoop:hadoop-common 2.8.5 to 3.3.3
  pom.xml
Labels: none

update org.eclipse.jetty:jetty-http 9.4.48.v20220622 to 11.0.10
  chunjun-connectors/chunjun-connector-hudi/pom.xml
Labels: none

update org.apache.hadoop:hadoop-hdfs 2.8.5 to 3.3.2
  pom.xml
Labels: none

update org.xerial.snappy:snappy-java 1.1.4 to 1.1.10.1
  chunjun-connectors/chunjun-connector-hive3/pom.xml
Labels: HIVE3

update org.eclipse.jetty:jetty-server 9.4.48.v20220622 to 12.0.0.beta0
  chunjun-connectors/chunjun-connector-hudi/pom.xml
Labels: none

update org.apache.calcite:calcite-core 1.26.0 to 1.32.0
  chunjun-ddl/pom.xml
Labels: DDL

update org.apache.hadoop:hadoop-hdfs 2.7.5 to 3.3.2
  chunjun-connectors/chunjun-connector-arctic/pom.xml
Labels: none

[hotfix-#1799][connector][jdbc] Fix related issues when the write mode is replace/update
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactory.java
Labels: none

[hotfix-#1799][connector][jdbc] Fix related issues when the write mode is replace/update
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactory.java
Labels: none

[hotfix-#1811][connector][mongodb] Fixed missing dependencies
  chunjun-connectors/chunjun-connector-mongodb/pom.xml
Labels: MONGODB

[hotfix-#1814][chunjun-connector-oracle] Consuming oracle data incorrectly uses jdbc-base module's createInternalConverter logic
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

[hotfix-#1816][connector-oracle] fix NullPointerException when oracle blob field is null
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSyncConverter.java
Labels: ORACLE

[hotfix-#1814][chunjun-connector-oracle] Consuming oracle data incorrectly uses jdbc-base module's createInternalConverter logic
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

[chunjun-server] add session web server
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/util/YarnSessionClientUtil.java
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/yarn/YarnSessionClusterClientHelper.java
  chunjun-server/pom.xml
  chunjun-server/src/main/java/com/dtstack/chunjun/client/IClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/client/YarnSessionClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/ChunJunConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/ChunJunServerOptions.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/HadoopConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/SessionConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/WebConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/YarnAppConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/BaseEntry.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/ResponseValue.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/StatusReq.java
  chunjun-server/src/main/java/com/dtstack/chunjun/http/CJHttpRequestRetryHandler.java
  chunjun-server/src/main/java/com/dtstack/chunjun/http/PoolHttpClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/restapi/RequestHandler.java
  chunjun-server/src/main/java/com/dtstack/chunjun/restapi/WebServer.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/EStatus.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/ServerLauncher.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionDeployer.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionManager.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionStatusInfo.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionStatusMonitor.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/util/EnvUtil.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/util/FileUtil.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/util/JsonMapper.java
  chunjun-server/src/main/java/com/dtstack/chunjun/yarn/HadoopConfTool.java
  chunjun-server/src/main/java/com/dtstack/chunjun/yarn/YarnClientUtil.java
  chunjun-server/src/main/java/com/dtstack/chunjun/yarn/YarnConfLoader.java
  chunjun-server/src/main/java/org/apache/flink/yarn/CJYarnClusterClientFactory.java
  chunjun-server/src/main/java/org/apache/flink/yarn/CJYarnClusterDescriptor.java
  chunjun-server/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  chunjun-server/src/main/resources/log4j2.properties
Labels: CLIENTS

[hotfix-#1745][connector][hdfs][hive] Data loss occurs when multiple tasks write to the same hdfs (or hive) data source
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
Labels: HDFS

[hotfix-#1745][connector][hdfs][hive] Data loss occurs when multiple tasks write to the same hdfs (or hive) data source
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/sink/BaseHdfsOutputFormat.java
Labels: HIVE3

[hotfix-#1811][connector][mongodb] Fixed missing dependencies (#1812)
  chunjun-connectors/chunjun-connector-mongodb/pom.xml
Labels: MONGODB

[hotfix-#1821][hdfs]Modify orc file calculation method
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsOrcOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsParquetOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsTextOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseFileOutputFormat.java
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST, HDFS

[hotfix-#1814][chunjun-connector-oracle] Consuming oracle data incorrectly uses jdbc-base module's createInternalConverter logic (#1818)
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

[hotfix-#1816][connector-oracle] fix NullPointerException when oracle blob field is null (#1817)
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSyncConverter.java
Labels: ORACLE

[hotfix-#1823][connector][oracle] oracle Connector incorrectly consumed date-type data
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

[hotfix-#1825][hdfs]Synchronizing text and parquet table data, the speed is too slow when the table field contains date type
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsParquetSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextSyncConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
Labels: CORE, HDFS

[hotfix-#1823][connector][oracle] oracle Connector incorrectly consumed date-type data (#1824)
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

[hotfix-#1827][kudu]Fix flinksql kudu write mode parameter does not take effect
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/table/KuduDynamicTableFactory.java
Labels: KUDU

[hotfix-#1827][kudu]Fix flinksql kudu write mode parameter does not take effect (#1828)
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/table/KuduDynamicTableFactory.java
Labels: KUDU

[hotfix-#1825][hdfs]Synchronizing text and parquet table data, the speed is too slow when the table field contains date type (#1826)
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsParquetSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextSyncConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
Labels: CORE, HDFS

[hotfix-#1829][chunjun] Fixed view checkpoints error report
  pom.xml
Labels: none

[hotfix-#1829][chunjun] Fixed view checkpoints error report
  pom.xml
Labels: none

[chunjun-server] add session monitor
  chunjun-connectors/pom.xml
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/PluginUtil.java
  chunjun-server/src/main/java/com/dtstack/chunjun/client/IClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/client/YarnSessionClient.java
  chunjun-server/src/main/java/com/dtstack/chunjun/config/SessionConfig.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/BaseEntry.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/JobConverter.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/JobDescriptor.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/JobInfoReq.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/JobLogVO.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/JobSubmitReq.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/JobSubmitVO.java
  chunjun-server/src/main/java/com/dtstack/chunjun/entry/StatusVO.java
  chunjun-server/src/main/java/com/dtstack/chunjun/restapi/RequestHandler.java
  chunjun-server/src/main/java/com/dtstack/chunjun/restapi/WebServer.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/ServerLauncher.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/util/JobGraphBuilder.java
  chunjun-server/src/main/java/org/apache/flink/yarn/CJYarnClusterClientFactory.java
Labels: CORE

[fix-#1832][dirty] Fixed Prometheus nErrors failing to synchronize last day failure records
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/manager/DirtyManager.java
Labels: CORE

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - build/*
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
  - chunjun-examples/**/*
ASSEMBLY:
  - chunjun-assembly/**/*
CLIENTS:
  - chunjun-clients/**/*
CORE:
  - chunjun-core/**/*
DDL:
  - chunjun-ddl/**/*
DIRTY:
  - chunjun-dirty/**/*
DOCKER:
  - chunjun-docker/**/*
E2E:
  - chunjun-docker/**/*
LOCAL_TEST:
  - chunjun-local-test/**/*
METRICS:
  - chunjun-metrics/**/*
RESTORE:
  - chunjun-restore/**/*
BINLOG:
  - chunjun-connectors/chunjun-connector-binlog/**/*
CASSANDRA:
  - chunjun-connectors/chunjun-connector-cassandra/**/*
CLICKHOUSE:
  - chunjun-connectors/chunjun-connector-clickhouse/**/*
DB2:
  - chunjun-connectors/chunjun-connector-db2/**/*
DM:
  - chunjun-connectors/chunjun-connector-dm/**/*
DORIS:
  - chunjun-connectors/chunjun-connector-doris/**/*
ELASTICSEARCH6:
  - chunjun-connectors/chunjun-connector-elasticsearch6/**/*
ELASTICSEARCH7:
    - chunjun-connectors/chunjun-connector-elasticsearch7/**/*
ELASTICSEARCH:
  - chunjun-connectors/chunjun-connector-elasticsearch-base/**/*
EMQX:
  - chunjun-connectors/chunjun-connector-emqx/**/*
FILE:
  - chunjun-connectors/chunjun-connector-file/**/*
FTP:
  - chunjun-connectors/chunjun-connector-ftp/**/*
GREENPLUM:
  - chunjun-connectors/chunjun-connector-greenplum/**/*
HBASE2:
    - chunjun-connectors/chunjun-connector-hbase2/**/*
HBASE-1.4:
    - chunjun-connectors/chunjun-connector-hbase-1.4/**/*
HBASE:
    - chunjun-connectors/chunjun-connector-hbase-base/**/*
HDFS:
  - chunjun-connectors/chunjun-connector-hdfs/**/*
HIVE:
    - chunjun-connectors/chunjun-connector-hive/**/*
HIVE3:
    - chunjun-connectors/chunjun-connector-hive3/**/*
HTTP:
    - chunjun-connectors/chunjun-connector-http/**/*
ICEBERG:
    - chunjun-connectors/chunjun-connector-iceberg/**/*
INFLUXDB:
    - chunjun-connectors/chunjun-connector-influxdb/**/*
JDBC:
    - chunjun-connectors/chunjun-connector-jdbc/**/*
KAFKA:
    - chunjun-connectors/chunjun-connector-kafka/**/*
KUDU:
    - chunjun-connectors/chunjun-connector-kudu/**/*
MONGODB:
    - chunjun-connectors/chunjun-connector-mongodb/**/*
MYSQL:
    - chunjun-connectors/chunjun-connector-mysql/**/*
MYSQL-CDC:
    - chunjun-connectors/chunjun-connector-mysqlcdc/**/*
MYSQLD:
    - chunjun-connectors/chunjun-connector-mysqld/**/*
NEBULA:
    - chunjun-connectors/chunjun-connector-nebula/**/*
OCEANBASE:
    - chunjun-connectors/chunjun-connector-oceanbase/**/*
OCEANBASE-CDC:
    - chunjun-connectors/chunjun-connector-oceanbasecdc/**/*
ORACLE:
    - chunjun-connectors/chunjun-connector-oracle/**/*
ORACLELOGMINER:
    - chunjun-connectors/chunjun-connector-oraclelogminer/**/*
POSTGRESQL:
    - chunjun-connectors/chunjun-connector-postgresql/**/*
RABBITMQ:
    - chunjun-connectors/chunjun-connector-rabbitmq/**/*
REDIS:
    - chunjun-connectors/chunjun-connector-redis/**/*
ROCKETMQ:
    - chunjun-connectors/chunjun-connector-rocketmq/**/*
S3:
    - chunjun-connectors/chunjun-connector-s3/**/*
SAPHANA:
    - chunjun-connectors/chunjun-connector-saphana/**/*
SELECTDB:
    - chunjun-connectors/chunjun-connector-selectdb-cloud/**/*
SOCKET:
    - chunjun-connectors/chunjun-connector-socket/**/*
SOLR:
    - chunjun-connectors/chunjun-connector-solr/**/*
SQLSERVER:
    - chunjun-connectors/chunjun-connector-sqlserver/**/*
SQLSERVER-CDC:
    - chunjun-connectors/chunjun-connector-sqlservercdc/**/*
STARROCKS:
    - chunjun-connectors/chunjun-connector-starrocks/**/*
STREAM:
    - chunjun-connectors/chunjun-connector-stream/**/*
SYBASE:
    - chunjun-connectors/chunjun-connector-sybase/**/*
VERTICA:
    - chunjun-connectors/chunjun-connector-vertica11/**/*
