Repository DTStack/chunjun, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, ASSEMBLY, CLIENTS, CORE, DDL, DIRTY, DOCKER, E2E, LOCAL_TEST, METRICS, RESTORE, BINLOG, CASSANDRA, CLICKHOUSE, DB2, DM, DORIS, ELASTICSEARCH6, ELASTICSEARCH7, ELASTICSEARCH, EMQX, FILE, FTP, GREENPLUM, HBASE2, HBASE-1.4, HBASE, HDFS, HIVE, HIVE3, HTTP, ICEBERG, INFLUXDB, JDBC, KAFKA, KUDU, MONGODB, MYSQL, MYSQL-CDC, MYSQLD, NEBULA, OCEANBASE, OCEANBASE-CDC, ORACLE, ORACLELOGMINER, POSTGRESQL, RABBITMQ, REDIS, ROCKETMQ, S3, SAPHANA, SELECTDB, SOCKET, SOLR, SQLSERVER, SQLSERVER-CDC, STARROCKS, STREAM, SYBASE, VERTICA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - build/*
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
  - chunjun-examples/**/*
ASSEMBLY:
  - chunjun-assembly/**/*
CLIENTS:
  - chunjun-clients/**/*
CORE:
  - chunjun-core/**/*
DDL:
  - chunjun-ddl/**/*
DIRTY:
  - chunjun-dirty/**/*
DOCKER:
  - chunjun-docker/**/*
E2E:
  - chunjun-docker/**/*
LOCAL_TEST:
  - chunjun-local-test/**/*
METRICS:
  - chunjun-metrics/**/*
RESTORE:
  - chunjun-restore/**/*
BINLOG:
  - chunjun-connectors/chunjun-connector-binlog/**/*
CASSANDRA:
  - chunjun-connectors/chunjun-connector-cassandra/**/*
CLICKHOUSE:
  - chunjun-connectors/chunjun-connector-clickhouse/**/*
DB2:
  - chunjun-connectors/chunjun-connector-db2/**/*
DM:
  - chunjun-connectors/chunjun-connector-dm/**/*
DORIS:
  - chunjun-connectors/chunjun-connector-doris/**/*
ELASTICSEARCH6:
  - chunjun-connectors/chunjun-connector-elasticsearch6/**/*
ELASTICSEARCH7:
    - chunjun-connectors/chunjun-connector-elasticsearch7/**/*
ELASTICSEARCH:
  - chunjun-connectors/chunjun-connector-elasticsearch-base/**/*
EMQX:
  - chunjun-connectors/chunjun-connector-emqx/**/*
FILE:
  - chunjun-connectors/chunjun-connector-file/**/*
FTP:
  - chunjun-connectors/chunjun-connector-ftp/**/*
GREENPLUM:
  - chunjun-connectors/chunjun-connector-greenplum/**/*
HBASE2:
    - chunjun-connectors/chunjun-connector-hbase2/**/*
HBASE-1.4:
    - chunjun-connectors/chunjun-connector-hbase-1.4/**/*
HBASE:
    - chunjun-connectors/chunjun-connector-hbase-base/**/*
HDFS:
  - chunjun-connectors/chunjun-connector-hdfs/**/*
HIVE:
    - chunjun-connectors/chunjun-connector-hive/**/*
HIVE3:
    - chunjun-connectors/chunjun-connector-hive3/**/*
HTTP:
    - chunjun-connectors/chunjun-connector-http/**/*
ICEBERG:
    - chunjun-connectors/chunjun-connector-iceberg/**/*
INFLUXDB:
    - chunjun-connectors/chunjun-connector-influxdb/**/*
JDBC:
    - chunjun-connectors/chunjun-connector-jdbc/**/*
KAFKA:
    - chunjun-connectors/chunjun-connector-kafka/**/*
KUDU:
    - chunjun-connectors/chunjun-connector-kudu/**/*
MONGODB:
    - chunjun-connectors/chunjun-connector-mongodb/**/*
MYSQL:
    - chunjun-connectors/chunjun-connector-mysql/**/*
MYSQL-CDC:
    - chunjun-connectors/chunjun-connector-mysqlcdc/**/*
MYSQLD:
    - chunjun-connectors/chunjun-connector-mysqld/**/*
NEBULA:
    - chunjun-connectors/chunjun-connector-nebula/**/*
OCEANBASE:
    - chunjun-connectors/chunjun-connector-oceanbase/**/*
OCEANBASE-CDC:
    - chunjun-connectors/chunjun-connector-oceanbasecdc/**/*
ORACLE:
    - chunjun-connectors/chunjun-connector-oracle/**/*
ORACLELOGMINER:
    - chunjun-connectors/chunjun-connector-oraclelogminer/**/*
POSTGRESQL:
    - chunjun-connectors/chunjun-connector-postgresql/**/*
RABBITMQ:
    - chunjun-connectors/chunjun-connector-rabbitmq/**/*
REDIS:
    - chunjun-connectors/chunjun-connector-redis/**/*
ROCKETMQ:
    - chunjun-connectors/chunjun-connector-rocketmq/**/*
S3:
    - chunjun-connectors/chunjun-connector-s3/**/*
SAPHANA:
    - chunjun-connectors/chunjun-connector-saphana/**/*
SELECTDB:
    - chunjun-connectors/chunjun-connector-selectdb-cloud/**/*
SOCKET:
    - chunjun-connectors/chunjun-connector-socket/**/*
SOLR:
    - chunjun-connectors/chunjun-connector-solr/**/*
SQLSERVER:
    - chunjun-connectors/chunjun-connector-sqlserver/**/*
SQLSERVER-CDC:
    - chunjun-connectors/chunjun-connector-sqlservercdc/**/*
STARROCKS:
    - chunjun-connectors/chunjun-connector-starrocks/**/*
STREAM:
    - chunjun-connectors/chunjun-connector-stream/**/*
SYBASE:
    - chunjun-connectors/chunjun-connector-sybase/**/*
VERTICA:
    - chunjun-connectors/chunjun-connector-vertica11/**/*

[feature][connector][hudi] add hudi json write function (#1665)
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-hudi/.gitignore
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/adaptor/HudiOnChunjunAdaptor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
  chunjun-connectors/pom.xml
  chunjun-core/pom.xml
  chunjun-examples/json/hudi/hudi2hudi.json
  pom.xml
Labels: DOCS, CLIENTS, CORE

[chunjun-server] add session monitor
  chunjun-server/pom.xml
  chunjun-server/src/main/java/com/dtstack/chunjun/server/EStatus.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionManager.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionStatusInfo.java
  chunjun-server/src/main/java/com/dtstack/chunjun/server/SessionStatusMonitor.java
  pom.xml
Labels: none

hudi read
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
Labels: none

Update pom.xml
  chunjun-connectors/pom.xml
Labels: none

Update HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
Labels: none

[feature-#1680][connection][kafka]A null pointer exception occurs after security is enabled
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/KafkaSinkFactory.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/source/KafkaSourceFactory.java
Labels: KAFKA

[feature-#1680][connector][kafka]A null pointer exception occurs after security is enabled (#1681)
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/KafkaSinkFactory.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/source/KafkaSourceFactory.java
Labels: KAFKA

hudi read
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/source/HudiSourceFactory.java
  chunjun-connectors/pom.xml
Labels: none

[feature][connector][hudi] add hudi json read function and sql read/write (#1666)
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataConvertorMap.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/source/HudiSourceFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/table/HudiDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/utils/HudiConfigUtil.java
  chunjun-connectors/chunjun-connector-hudi/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-core/pom.xml
  pom.xml
Labels: CLIENTS, CORE

[hotfix-#1682][connector][hive] fixed hive jdbc read timed out
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/util/HiveDbUtil.java
Labels: HIVE

[hotfix-#1682][connector][hive] fixed hive jdbc read timed out (#1684)
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/util/HiveDbUtil.java
Labels: HIVE

[hotfix][test]Fix test problems caused by type enhancement
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfigTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/sink/HBaseOutputFormatTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormatTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/util/ScanBuilderTest.java
  chunjun-core/src/main/java/com/dtstack/chunjun/typeutil/serializer/base/TimeColumnSerializer.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/BooleanColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/ByteColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/BytesColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/DecimalColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/DoubleColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/FloatColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/IntColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/LongColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/MapColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/ShortColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/SqlDateColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/StringColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/TimeColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/TimestampColumnSerializerTest.java
Labels: CORE, HBASE

[hotfix][test]Fix test problems caused by type enhancement
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfigTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/sink/HBaseOutputFormatTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormatTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/util/ScanBuilderTest.java
  chunjun-core/src/main/java/com/dtstack/chunjun/typeutil/serializer/base/TimeColumnSerializer.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/BooleanColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/ByteColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/BytesColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/DecimalColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/DoubleColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/FloatColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/IntColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/LongColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/MapColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/ShortColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/SqlDateColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/StringColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/TimeColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/TimestampColumnSerializerTest.java
Labels: CORE, HBASE

[feature-#1691][connection][starrocks] A null pointer exception occurs
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/source/be/StarRocksQueryPlanVisitor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/source/be/entity/Tablet.java
Labels: STARROCKS

[feature-#1690][connection][arctic] added arctic connector
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-arctic/pom.xml
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticReaderConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticWriterConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticColumnConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticRawTypeConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticMetricsMapFunction.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticSinkFactory.java
  chunjun-connectors/chunjun-connector-arctic/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/json/arctic/arctic_sink.json
Labels: DOCS, CLIENTS

[feature-#1690][connection][arctic] added arctic connector
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-arctic/pom.xml
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticReaderConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticWriterConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticColumnConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticRawTypeConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticMetricsMapFunction.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticSinkFactory.java
  chunjun-connectors/chunjun-connector-arctic/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/json/arctic/arctic_sink.json
Labels: DOCS, CLIENTS

[feature-#1690][connection][arctic] added arctic connector
  chunjun-connectors/chunjun-connector-arctic/pom.xml
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticReaderConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticWriterConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticColumnConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticRawTypeConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticMetricsMapFunction.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticSinkFactory.java
  chunjun-connectors/chunjun-connector-arctic/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/json/arctic/arctic_sink.json
Labels: DOCS

[hotfix-#1697][connector][ftp] fixed unsupported options
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/options/FtpOptions.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

针对时间精度，默认为毫秒
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
Labels: none

[hotfix-#1697][connector][ftp] fixed unsupported options (#1700)
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/options/FtpOptions.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

[hotfix-#1701][connector][ftp] fixed Read timed out
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/DummyInitializationContext.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/FtpSqlConverter.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/spliter/ConcurrentZipCompressSplit.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

[hotfix-#1704][core] Fix json script deserialization error
  chunjun-core/src/main/java/com/dtstack/chunjun/config/FieldConfig.java
Labels: CORE

[hotfix-#1701][connector][ftp] fixed Read timed out (#1703)
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/DummyInitializationContext.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/FtpSqlConverter.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/spliter/ConcurrentZipCompressSplit.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

[hotfix-#1704][core] Fix json script deserialization error (#1705)
  chunjun-core/src/main/java/com/dtstack/chunjun/config/FieldConfig.java
Labels: CORE

[feature-#1690][connection][arctic] added arctic connector (#1696)
  chunjun-connectors/chunjun-connector-arctic/pom.xml
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticReaderConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticWriterConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticColumnConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticRawTypeConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticMetricsMapFunction.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticSinkFactory.java
  chunjun-connectors/chunjun-connector-arctic/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/json/arctic/arctic_sink.json
Labels: DOCS

[hotfix-#1708][MongoDB]Fix the field type null pointer problem of the script
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/source/MongodbSourceFactory.java
Labels: MONGODB

[hotfix-#1711][Binlog] Adapt to binlog plugin
  chunjun-connectors/chunjun-connector-binlog/pom.xml
  chunjun-core/pom.xml
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST, BINLOG

[hotfix-#1711][Binlog] Adapt to binlog plugin (#1712)
  chunjun-connectors/chunjun-connector-binlog/pom.xml
  chunjun-core/pom.xml
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST, BINLOG

[hotfix-#1708][MongoDB]Fix the field type null pointer problem of the script (#1709)
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/source/MongodbSourceFactory.java
Labels: MONGODB

[hotfix-#1706][connector][elasticsearch7] Add write mode, add support for incoming query condition
  chunjun-connectors/chunjun-connector-elasticsearch7/pom.xml
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/ElasticsearchConfig.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/sink/ElasticsearchOutputFormat.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/table/Elasticsearch7DynamicTableFactory.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/table/Elasticsearch7Options.java
Labels: ELASTICSEARCH7

[hotfix-1714][saphana]fix upsert sql equalCondition
  chunjun-connectors/chunjun-connector-saphana/src/main/java/com/dtstack/chunjun/connector/saphana/dialect/SaphanaDialect.java
Labels: SAPHANA

[hotfix-#1706][connector][elasticsearch7] Add write mode, add support for incoming query condition (#1707)
  chunjun-connectors/chunjun-connector-elasticsearch7/pom.xml
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/ElasticsearchConfig.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/sink/ElasticsearchOutputFormat.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/table/Elasticsearch7DynamicTableFactory.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/table/Elasticsearch7Options.java
Labels: ELASTICSEARCH7

[hotfix-#1714][saphana]fix upsert sql equalCondition (#1715)
  chunjun-connectors/chunjun-connector-saphana/src/main/java/com/dtstack/chunjun/connector/saphana/dialect/SaphanaDialect.java
Labels: SAPHANA

[hotfix-#1672][connector][gbase] add gbase connector
  chunjun-connectors/chunjun-connector-gbase/pom.xml
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/converter/GbaseRawTypeConverter.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/dialect/GbaseDialect.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/sink/GbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/source/GbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/table/GbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-gbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[Feature-#1672][connector][gbase] add gbase connector (#1716)
  chunjun-connectors/chunjun-connector-gbase/pom.xml
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/converter/GbaseRawTypeConverter.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/dialect/GbaseDialect.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/sink/GbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/source/GbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-gbase/src/main/java/com/dtstack/chunjun/connector/gbase/table/GbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-gbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[feature-#1720][connection][mongodb] Support mongodb sql mode
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/sink/MongodbOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/source/MongodbInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableSource.java
Labels: MONGODB

[hotfix-#1710][connector][dm][elasticsearch7] fixed not found dependent package
  chunjun-connectors/chunjun-connector-dm/pom.xml
  chunjun-connectors/chunjun-connector-elasticsearch7/pom.xml
Labels: DM, ELASTICSEARCH7

[hotfix-#1724] [connector][hdfs]fix BaseHdfsOutputFormat CannotObtainBlockLengthException , Improve task stability
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
Labels: HDFS

[feature-#1720][connection][mongodb] Support mongodb sql mode
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/sink/MongodbOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/source/MongodbInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableSource.java
Labels: MONGODB

[hotfix-#1718][core][elasticsearch7] [elasticsearch6] [kafka] [rocketmq] [starrocks] Dirty data is collected for all slots, not for a single slot
  chunjun-connectors/chunjun-connector-elasticsearch6/src/main/java/com/dtstack/chunjun/connector/elasticsearch6/sink/Elasticsearch6OutputFormat.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/sink/ElasticsearchOutputFormat.java
  chunjun-connectors/chunjun-connector-influxdb/src/main/java/com/dtstack/chunjun/connector/influxdb/sink/InfluxdbOutputFormat.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/serialization/RowDeserializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/serialization/RowSerializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/DynamicKafkaSerializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/source/DynamicKafkaDeserializationSchema.java
  chunjun-connectors/chunjun-connector-nebula/src/main/java/com/dtstack/chunjun/connector/nebula/sink/NebulaOutputFormat.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/deserialization/RowKeyValueDeserializationSchema.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollector.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/manager/DirtyManager.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/source/format/BaseRichInputFormat.java
  chunjun-core/src/test/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollectorTest.java
Labels: CORE, ELASTICSEARCH6, ELASTICSEARCH7, INFLUXDB, KAFKA, NEBULA, ROCKETMQ, STARROCKS
