Repository DTStack/chunjun, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, ASSEMBLY, CLIENTS, CORE, DDL, DIRTY, DOCKER, E2E, LOCAL_TEST, METRICS, RESTORE, BINLOG, CASSANDRA, CLICKHOUSE, DB2, DM, DORIS, ELASTICSEARCH6, ELASTICSEARCH7, ELASTICSEARCH, EMQX, FILE, FTP, GREENPLUM, HBASE2, HBASE-1.4, HBASE, HDFS, HIVE, HIVE3, HTTP, ICEBERG, INFLUXDB, JDBC, KAFKA, KUDU, MONGODB, MYSQL, MYSQL-CDC, MYSQLD, NEBULA, OCEANBASE, OCEANBASE-CDC, ORACLE, ORACLELOGMINER, POSTGRESQL, RABBITMQ, REDIS, ROCKETMQ, S3, SAPHANA, SELECTDB, SOCKET, SOLR, SQLSERVER, SQLSERVER-CDC, STARROCKS, STREAM, SYBASE, VERTICA

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - build/*
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
  - chunjun-examples/**/*
ASSEMBLY:
  - chunjun-assembly/**/*
CLIENTS:
  - chunjun-clients/**/*
CORE:
  - chunjun-core/**/*
DDL:
  - chunjun-ddl/**/*
DIRTY:
  - chunjun-dirty/**/*
DOCKER:
  - chunjun-docker/**/*
E2E:
  - chunjun-docker/**/*
LOCAL_TEST:
  - chunjun-local-test/**/*
METRICS:
  - chunjun-metrics/**/*
RESTORE:
  - chunjun-restore/**/*
BINLOG:
  - chunjun-connectors/chunjun-connector-binlog/**/*
CASSANDRA:
  - chunjun-connectors/chunjun-connector-cassandra/**/*
CLICKHOUSE:
  - chunjun-connectors/chunjun-connector-clickhouse/**/*
DB2:
  - chunjun-connectors/chunjun-connector-db2/**/*
DM:
  - chunjun-connectors/chunjun-connector-dm/**/*
DORIS:
  - chunjun-connectors/chunjun-connector-doris/**/*
ELASTICSEARCH6:
  - chunjun-connectors/chunjun-connector-elasticsearch6/**/*
ELASTICSEARCH7:
    - chunjun-connectors/chunjun-connector-elasticsearch7/**/*
ELASTICSEARCH:
  - chunjun-connectors/chunjun-connector-elasticsearch-base/**/*
EMQX:
  - chunjun-connectors/chunjun-connector-emqx/**/*
FILE:
  - chunjun-connectors/chunjun-connector-file/**/*
FTP:
  - chunjun-connectors/chunjun-connector-ftp/**/*
GREENPLUM:
  - chunjun-connectors/chunjun-connector-greenplum/**/*
HBASE2:
    - chunjun-connectors/chunjun-connector-hbase2/**/*
HBASE-1.4:
    - chunjun-connectors/chunjun-connector-hbase-1.4/**/*
HBASE:
    - chunjun-connectors/chunjun-connector-hbase-base/**/*
HDFS:
  - chunjun-connectors/chunjun-connector-hdfs/**/*
HIVE:
    - chunjun-connectors/chunjun-connector-hive/**/*
HIVE3:
    - chunjun-connectors/chunjun-connector-hive3/**/*
HTTP:
    - chunjun-connectors/chunjun-connector-http/**/*
ICEBERG:
    - chunjun-connectors/chunjun-connector-iceberg/**/*
INFLUXDB:
    - chunjun-connectors/chunjun-connector-influxdb/**/*
JDBC:
    - chunjun-connectors/chunjun-connector-jdbc/**/*
KAFKA:
    - chunjun-connectors/chunjun-connector-kafka/**/*
KUDU:
    - chunjun-connectors/chunjun-connector-kudu/**/*
MONGODB:
    - chunjun-connectors/chunjun-connector-mongodb/**/*
MYSQL:
    - chunjun-connectors/chunjun-connector-mysql/**/*
MYSQL-CDC:
    - chunjun-connectors/chunjun-connector-mysqlcdc/**/*
MYSQLD:
    - chunjun-connectors/chunjun-connector-mysqld/**/*
NEBULA:
    - chunjun-connectors/chunjun-connector-nebula/**/*
OCEANBASE:
    - chunjun-connectors/chunjun-connector-oceanbase/**/*
OCEANBASE-CDC:
    - chunjun-connectors/chunjun-connector-oceanbasecdc/**/*
ORACLE:
    - chunjun-connectors/chunjun-connector-oracle/**/*
ORACLELOGMINER:
    - chunjun-connectors/chunjun-connector-oraclelogminer/**/*
POSTGRESQL:
    - chunjun-connectors/chunjun-connector-postgresql/**/*
RABBITMQ:
    - chunjun-connectors/chunjun-connector-rabbitmq/**/*
REDIS:
    - chunjun-connectors/chunjun-connector-redis/**/*
ROCKETMQ:
    - chunjun-connectors/chunjun-connector-rocketmq/**/*
S3:
    - chunjun-connectors/chunjun-connector-s3/**/*
SAPHANA:
    - chunjun-connectors/chunjun-connector-saphana/**/*
SELECTDB:
    - chunjun-connectors/chunjun-connector-selectdb-cloud/**/*
SOCKET:
    - chunjun-connectors/chunjun-connector-socket/**/*
SOLR:
    - chunjun-connectors/chunjun-connector-solr/**/*
SQLSERVER:
    - chunjun-connectors/chunjun-connector-sqlserver/**/*
SQLSERVER-CDC:
    - chunjun-connectors/chunjun-connector-sqlservercdc/**/*
STARROCKS:
    - chunjun-connectors/chunjun-connector-starrocks/**/*
STREAM:
    - chunjun-connectors/chunjun-connector-stream/**/*
SYBASE:
    - chunjun-connectors/chunjun-connector-sybase/**/*
VERTICA:
    - chunjun-connectors/chunjun-connector-vertica11/**/*

[Improve-#1914][chunjun-connector-clickhouse]Added support for map<string, unit>data types
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/converter/ClickhouseRawTypeConverter.java
Labels: CLICKHOUSE

[Bug][chunjun-connectors] jdbc's properties not work where jdbc's reader has set properties
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
Labels: none

[Feature-#1920][kingbase] fixed syntax error at or near "t1"
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/dialect/KingbaseDialect.java
Labels: none

[Feature-#1925][Module core]Support null serialization of JSON data to prevent the loss of data columns.
  chunjun-core/src/main/java/com/dtstack/chunjun/util/GsonUtil.java
Labels: CORE

[Feature-#1920][kingbase] fixed syntax error at or near "t1"
  chunjun-connectors/chunjun-connector-kingbase/src/main/java/com/dtstack/chunjun/connector/kingbase/dialect/KingbaseDialect.java
Labels: none

[Feature-#1924][opengauss] Add opengauss connector
  chunjun-connectors/chunjun-connector-opengauss/pom.xml
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/OpengaussRawTypeMapper.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/OpengaussSyncConverter.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/BitType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/BoolType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/BpcharType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/ByteaType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/CharType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/DateType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Float4Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Float8Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Int2Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Int4Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Int8Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/JsonType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/JsonbType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/MoneyType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/NameType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/NumericType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/OidType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/PgCustomType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/PointType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TextType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimeType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimestampType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimestampTzType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimetzType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/UuidType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/VarbitType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/VarcharType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/XmlType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/dialect/OpengaussDialect.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/sink/OpengaussOutputFormat.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/sink/OpengaussSinkFactory.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/source/OpengaussInputFormat.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/source/OpengaussSourceFactory.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/table/OpengaussDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[Feature-#1924][opengauss] Add opengauss connector
  chunjun-connectors/chunjun-connector-opengauss/pom.xml
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/OpengaussRawTypeMapper.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/OpengaussSyncConverter.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/BitType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/BoolType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/BpcharType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/ByteaType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/CharType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/DateType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Float4Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Float8Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Int2Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Int4Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/Int8Type.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/JsonType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/JsonbType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/MoneyType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/NameType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/NumericType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/OidType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/PgCustomType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/PointType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TextType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimeType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimestampType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimestampTzType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/TimetzType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/UuidType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/VarbitType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/VarcharType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/converter/logical/XmlType.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/dialect/OpengaussDialect.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/sink/OpengaussOutputFormat.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/sink/OpengaussSinkFactory.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/source/OpengaussInputFormat.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/source/OpengaussSourceFactory.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/java/com/dtstack/chunjun/connector/opengauss/table/OpengaussDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-opengauss/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
Labels: none

[Feature-#1933][s3] Support more data type conversions
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/converter/S3SqlConverter.java
Labels: S3

modified qrcode for community group.
  website/public/assets/img/dingding.jpg
Labels: none

modified qrcode for community group.
  website/public/assets/img/dingding.jpg
Labels: none

Fix JSON parsing stack overflow vulnerabilities
  chunjun-core/src/main/java/com/dtstack/chunjun/util/GsonUtil.java
Labels: CORE

[Feature-#1933][s3] Support more data type conversions
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/converter/S3SqlConverter.java
Labels: S3

[Feature-#1925][Module core]Support null serialization of JSON data to prevent the loss of data columns.
  chunjun-core/src/main/java/com/dtstack/chunjun/util/GsonUtil.java
Labels: CORE

update org.xerial.snappy:snappy-java 1.1.4 to 1.1.10.1
  chunjun-connectors/chunjun-connector-hive3/pom.xml
Labels: HIVE3

[bugfix][iceberg] support long type (#1887)
  chunjun-connectors/chunjun-connector-iceberg/src/main/java/com/dtstack/chunjun/connector/iceberg/sink/ChunjunRowDataConvertMap.java
Labels: ICEBERG

fix: Fixed conflicts between flink-table-planner-loader and flink-table-planner_ (#1866)
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/rest/module/BackendRow.java
  pom.xml
Labels: CLIENTS, DORIS

[hotfix-1786][chunjun-metrics-prometheus] Fix uploading of startLocation and endLocation metrics to PushGateway (#1894)
  chunjun-metrics/chunjun-metrics-prometheus/src/main/java/com/dtstack/chunjun/metrics/prometheus/PrometheusReport.java
Labels: METRICS

Fix JSON parsing stack overflow vulnerabilities (#1939)
  chunjun-core/src/main/java/com/dtstack/chunjun/util/GsonUtil.java
Labels: CORE

Revert "Fix JSON parsing stack overflow vulnerabilities (#1939)"
  chunjun-core/src/main/java/com/dtstack/chunjun/util/GsonUtil.java
Labels: CORE

Revert "Fix JSON parsing stack overflow vulnerabilities (#1939)" (#1942)
  chunjun-core/src/main/java/com/dtstack/chunjun/util/GsonUtil.java
Labels: CORE

[feature-#1926] add paimon dependency
  chunjun-catalog/chunjun-catalog-iceberg/pom.xml
  chunjun-catalog/chunjun-catalog-paimon/pom.xml
  chunjun-catalog/pom.xml
  pom.xml
Labels: none

[feature-#1926] add paimon dependency (#1943)
  chunjun-catalog/chunjun-catalog-iceberg/pom.xml
  chunjun-catalog/chunjun-catalog-paimon/pom.xml
  chunjun-catalog/pom.xml
  pom.xml
Labels: none

[Feature-#1944][OceanBase]support MysqlMode and Oracle Mode
  chunjun-connectors/chunjun-connector-oceanbase/pom.xml
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/config/OceanBaseConf.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/config/OceanBaseMode.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/converter/OceanbaseOracleSyncConverter.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/converter/OceanbaseRawTypeMapper.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/dialect/OceanbaseMysqlModeDialect.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/dialect/OceanbaseOracleModeDialect.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/sink/OceanbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/source/OceanbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/MysqlDynamicTableFactoryProxy.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/OceanbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/OracleDynamicTableFactoryProxy.java
  chunjun-examples/json/oceanbase/oceanbase_stream.json
  chunjun-examples/json/oceanbase/stream_oceanbase.json
  chunjun-local-test/pom.xml
Labels: DOCS, LOCAL_TEST, OCEANBASE

[hotfix-#1821][hdfs]Modify orc file calculation method (#1822)
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsOrcOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsParquetOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsTextOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseFileOutputFormat.java
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST, HDFS

[Feature][jdbc splitpk] support manually set the Min/Max value (#1541)
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/conf/JdbcConf.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
  docs_zh/ChunJun连接器/oracle/oracle-source.md
Labels: none

[Feature-#1946][opengauss] Fix the issue of compilation failure
  chunjun-connectors/chunjun-connector-gbase8s/pom.xml
  chunjun-connectors/chunjun-connector-opengauss/pom.xml
  chunjun-connectors/pom.xml
Labels: none

[Feature-#1946][opengauss] Fix the issue of compilation failure (#1947)
  chunjun-connectors/chunjun-connector-gbase8s/pom.xml
  chunjun-connectors/chunjun-connector-opengauss/pom.xml
  chunjun-connectors/pom.xml
Labels: none

[hotfix-#1821][hdfs]Modify orc file calculation method (#1822)
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsOrcOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsParquetOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsTextOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseFileOutputFormat.java
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST, HDFS

[Feature-#1944][OceanBase]support MysqlMode and Oracle Mode
  chunjun-connectors/chunjun-connector-oceanbase/pom.xml
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/config/OceanBaseConf.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/config/OceanBaseMode.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/converter/OceanbaseOracleSyncConverter.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/converter/OceanbaseRawTypeMapper.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/dialect/OceanbaseMysqlModeDialect.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/dialect/OceanbaseOracleModeDialect.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/sink/OceanbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/source/OceanbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/MysqlDynamicTableFactoryProxy.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/OceanbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/OracleDynamicTableFactoryProxy.java
  chunjun-examples/json/oceanbase/oceanbase_stream.json
  chunjun-examples/json/oceanbase/stream_oceanbase.json
Labels: DOCS, OCEANBASE

[Feature-#1944][OceanBase]support MysqlMode and Oracle Mode (#1945)
  chunjun-connectors/chunjun-connector-oceanbase/pom.xml
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/config/OceanBaseConf.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/config/OceanBaseMode.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/converter/OceanbaseOracleSyncConverter.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/converter/OceanbaseRawTypeMapper.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/dialect/OceanbaseMysqlModeDialect.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/dialect/OceanbaseOracleModeDialect.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/sink/OceanbaseSinkFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/source/OceanbaseSourceFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/MysqlDynamicTableFactoryProxy.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/OceanbaseDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-oceanbase/src/main/java/com/dtstack/chunjun/connector/oceanbase/table/OracleDynamicTableFactoryProxy.java
  chunjun-examples/json/oceanbase/oceanbase_stream.json
  chunjun-examples/json/oceanbase/stream_oceanbase.json
Labels: DOCS, OCEANBASE

[Feature-#1948][doris] performance and resource optimization
  chunjun-connectors/chunjun-connector-doris/pom.xml
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/BufferFlusher.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/BufferPool.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/BufferPools.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/DorisSinkOP.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/DorisStreamLoadFailedException.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/IBufferPool.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/RetryableStreamLoadWriter.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/StreamLoadWriter.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/converter/DorisHttpSyncConverter.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/converter/DorisRawTypeMapper.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisConfig.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisKeys.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisOptions.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/LoadConfig.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisHttpOutputFormat.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisSinkFactory.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/table/DorisDynamicTableFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-examples/json/doris/mysql_doris.json
  chunjun-examples/json/doris/stream_doris.json
  chunjun-examples/sql/doris/stream-doris.sql
  chunjun-local-test/pom.xml
Labels: DOCS, CORE, LOCAL_TEST, DORIS

[Feature-#1948][doris] performance and resource optimization (#1949)
  chunjun-connectors/chunjun-connector-doris/pom.xml
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/BufferFlusher.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/BufferPool.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/BufferPools.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/DorisSinkOP.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/DorisStreamLoadFailedException.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/IBufferPool.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/RetryableStreamLoadWriter.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/buffer/StreamLoadWriter.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/converter/DorisHttpSyncConverter.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/converter/DorisRawTypeMapper.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisConfig.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisKeys.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisOptions.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/LoadConfig.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisHttpOutputFormat.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisSinkFactory.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/table/DorisDynamicTableFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-examples/json/doris/mysql_doris.json
  chunjun-examples/json/doris/stream_doris.json
  chunjun-examples/sql/doris/stream-doris.sql
  chunjun-local-test/pom.xml
Labels: DOCS, CORE, LOCAL_TEST, DORIS

[hotfix-#1952][core|doris] Fix ARRAY and LARGEINT type conversion exceptions
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/converter/DorisRawTypeMapper.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/DateUtil.java
Labels: CORE, DORIS

[feature-#1926] add paimon dependency (#1943)
  bin/start-chunjun
  bin/submit.sh
  chunjun-catalog/chunjun-catalog-iceberg/pom.xml
  chunjun-catalog/chunjun-catalog-paimon/pom.xml
  chunjun-clients/pom.xml
  chunjun-core/pom.xml
  chunjun-core/src/main/java/com/dtstack/chunjun/constants/ConstantValue.java
  chunjun-core/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  chunjun-examples/sql/catalog/paimon_stream.sql
  chunjun-examples/sql/catalog/stream_paimon.sql
Labels: DOCS, CLIENTS, CORE

[hotfix-#1952][core|doris] Fix ARRAY and LARGEINT type conversion exceptions
  chunjun-core/src/main/java/com/dtstack/chunjun/util/DateUtil.java
Labels: CORE

[hotfix-#1954][kafka] binlog -> kafka support partition by, add partitionStrategy parameter, optional value all-to-zero or hash-by-key, default value all-to-zero
  .idea/vcs.xml
  chunjun-connectors/chunjun-connector-binlog/src/main/java/com/dtstack/chunjun/connector/binlog/converter/BinlogSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/conf/KafkaConfig.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncKeyConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/KafkaSinkFactory.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/PartitionStrategy.java
  chunjun-core/src/main/java/com/dtstack/chunjun/constants/CDCConstantValue.java
  chunjun-examples/json/binlog/binlog_kafka_partition_by_key.json
Labels: DOCS, CORE, BINLOG, KAFKA

[hotfix-#1952][core|doris] Fix ARRAY and LARGEINT type conversion exceptions (#1956)
  chunjun-core/src/main/java/com/dtstack/chunjun/util/DateUtil.java
Labels: CORE

[hotfix-#1954][kafka] binlog -> kafka support partition by, add partitionStrategy parameter, optional value all-to-zero or hash-by-key, default value all-to-zero (#1957)
  .idea/vcs.xml
  chunjun-connectors/chunjun-connector-binlog/src/main/java/com/dtstack/chunjun/connector/binlog/converter/BinlogSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/conf/KafkaConfig.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncKeyConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/KafkaSinkFactory.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/PartitionStrategy.java
  chunjun-core/src/main/java/com/dtstack/chunjun/constants/CDCConstantValue.java
  chunjun-examples/json/binlog/binlog_kafka_partition_by_key.json
Labels: DOCS, CORE, BINLOG, KAFKA

[feature-#1955]jdbcConf adds default optimization parameters
  .github/workflows/build.yml
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/converter/ClickhouseRawTypeConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/sink/MysqlSinkFactory.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/source/MysqlSourceFactory.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/table/MysqlDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mysqld/src/main/java/com/dtstack/chunjun/connector/mysqld/source/MysqldSourceFactory.java
  chunjun-connectors/chunjun-connector-oraclelogminer/src/main/java/com/dtstack/chunjun/connector/oraclelogminer/converter/OracleRawTypeMapper.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/dialect/PostgresqlDialect.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/dialect/SqlserverDialect.java
  chunjun-connectors/chunjun-connector-sybase/src/main/java/com/dtstack/chunjun/connector/sybase/source/SybaseSourceFactory.java
Labels: INFRA, CLICKHOUSE, MYSQL, MYSQLD, ORACLELOGMINER, POSTGRESQL, SQLSERVER, SYBASE

[feature-#1955]jdbcConf adds default optimization parameters (#1959)
  .github/workflows/build.yml
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/converter/ClickhouseRawTypeConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/sink/MysqlSinkFactory.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/source/MysqlSourceFactory.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/table/MysqlDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mysqld/src/main/java/com/dtstack/chunjun/connector/mysqld/source/MysqldSourceFactory.java
  chunjun-connectors/chunjun-connector-oraclelogminer/src/main/java/com/dtstack/chunjun/connector/oraclelogminer/converter/OracleRawTypeMapper.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/dialect/PostgresqlDialect.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/dialect/SqlserverDialect.java
  chunjun-connectors/chunjun-connector-sybase/src/main/java/com/dtstack/chunjun/connector/sybase/source/SybaseSourceFactory.java
Labels: INFRA, CLICKHOUSE, MYSQL, MYSQLD, ORACLELOGMINER, POSTGRESQL, SQLSERVER, SYBASE
