Repository DTStack/chunjun, pull requests merged in 2022-07, with the labels that each got.

#1030 [hotfix-#1029][redis] Fix Redis Lookup Connector.
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/converter/RedisColumnConverter.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/converter/RedisRowConverter.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/enums/RedisDataMode.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/enums/RedisDataType.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/lookup/RedisAllTableFunction.java
Labels: bug

#1032 [hotfix-816][flinkx-connector-oracle] Fixed Oracle RAW Type Apply To Flink Type is TimeStamp ERROR
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleRawTypeConverter.java
Labels: bug

#1040 [feat-1039][rocketmq] add rocketmq table source.
  chunjun-connectors/chunjun-connector-rocketmq/pom.xml
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/conf/RocketMQConf.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/converter/RocketMQRowConverter.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/RocketMQScanTableSource.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/RocketMQSourceFunction.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/RunningChecker.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/deserialization/KeyValueDeserializationSchema.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/deserialization/RowKeyValueDeserializationSchema.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/watermark/WaterMarkForAll.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/watermark/WaterMarkPerQueue.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/table/RocketMQDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/table/RocketMQOptions.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/utils/RetryUtil.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/utils/RocketMQUtils.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/resources/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/sql/rocketmq/rocketmq_stream.sql
  docs_zh/ChunJun连接器/rocketmq/rocketmq-source.md
Labels: feature-request

#1045 [hotfix-#1042][chunjun-core] repair pluginRoot‘s folder not set , Cau…
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
Labels: bug

#1047 [doc-#1046][quickstart]fix standalone command error
  docs_zh/快速开始.md
Labels: document

#1064 [hotfix-#1063][kafka] Fix sync Task of kafka throws npe.
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaColumnConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/source/SourceFactory.java
Labels: bug

#1078 [feat-#1077][base] Optimize the inheritance of 'BaseRichOutputFormat'.
  chunjun-connectors/chunjun-connector-cassandra/src/main/java/com/dtstack/chunjun/connector/cassandra/sink/CassandraOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/sink/ClickhouseOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisHttpOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-elasticsearch6/src/main/java/com/dtstack/chunjun/connector/elasticsearch6/sink/Elasticsearch6OutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/sink/ElasticsearchOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-emqx/src/main/java/com/dtstack/chunjun/connector/emqx/sink/EmqxOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-hbase-1.4/src/main/java/com/dtstack/chunjun/connector/hbase14/sink/HBaseOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsDynamicTableSink.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsSinkFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/sink/HiveOutputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/sink/HiveOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-http/src/main/java/com/dtstack/chunjun/connector/http/outputformat/HttpOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-inceptor/src/main/java/com/dtstack/chunjun/connector/inceptor/sink/InceptorFileOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-inceptor/src/main/java/com/dtstack/chunjun/connector/inceptor/sink/InceptorFileSinkFactory.java
  chunjun-connectors/chunjun-connector-influxdb/src/main/java/com/dtstack/chunjun/connector/influxdb/sink/InfluxdbOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/sink/KuduOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/sink/MongodbOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/sink/MongodbSinkFactory.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableSink.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/sink/RedisOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-solr/src/main/java/com/dtstack/chunjun/connector/solr/sink/SolrOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-stream/src/main/java/com/dtstack/chunjun/connector/stream/sink/StreamOutputFormatBuilder.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormatBuilder.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/FileOutputFormatBuilder.java
Labels: good first issue

#1101 [feat-#1062][redis] Add source connector and reader connector of redis.
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/connection/RedisSyncClient.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/converter/RedisColumnConverter.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/converter/RedisRawTypeConverter.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/inputsplit/RedisInputSplit.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/lookup/RedisAllTableFunction.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/options/RedisOptions.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/source/RedisDynamicTableSource.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/source/RedisInputFormat.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/source/RedisInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/source/RedisSourceFactory.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/table/RedisDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/util/RedisUtil.java
  chunjun-examples/json/redis/redis_source.json
  chunjun-examples/sql/redis/redis_stream.sql
  docs_zh/ChunJun连接器/redis/redis_source.md
Labels: feature-request

#1104 [hotfix-#1103][jdbc] check dbConn valid before write record
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/DynamicPreparedStmt.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/PreparedStmtProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatement.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatementImpl.java
Labels: bug

#1053 [hotfix-#1052][hive] Fix the data loss problem of HiveWriter
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/sink/HiveOutputFormat.java
Labels: bug
