Repository DTStack/chunjun, pull requests merged in 2022-10, with the labels that each got.

#1292 [feat-#1284][jdbc]get metadata from resultSetMetaData
  chunjun-connectors/chunjun-connector-dm/src/main/java/com/dtstack/chunjun/connector/dm/converter/DmColumnConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcColumnConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
Labels: enhancement

#1305 [hotfix-#1304][binlog]1.Use version 19 of guava 2. Introduce protobuf…
  chunjun-connectors/chunjun-connector-binlog/pom.xml
Labels: bug

#1301 [feat][jdbc-#1300]add parameter pollingFromMax
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/conf/JdbcConf.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputSplit.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-core/src/main/java/com/dtstack/chunjun/constants/Metrics.java
  chunjun-core/src/main/java/com/dtstack/chunjun/metrics/AccumulatorCollector.java
Labels: feature-request
