Repository DTStack/chunjun, pull requests merged in 2022-09, with the labels that each got.

#1213 fix bug that lack param of batchSize for Doris Sink config
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/options/DorisConf.java
Labels: bug

#1215 [hotfix-1158] fix load hive jdbc dirver dead lock when parll load with mysql jdbc
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/util/HiveDbUtil.java
Labels: bug

#1243 [feat][test]add jdbc-base unit test
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcColumnConverterTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcRawTypeConverterTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcRowConverterTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialectTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/sink/SinkFactoryTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormatBuilderTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormatTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/SourceFactoryTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/distribute/DistributeJdbcInputFormatTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/distribute/SourceFactoryTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/table/JdbcDynamicTableFactoryTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtilTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/resources/distribute_sync_test.json
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/resources/sync_test.json
Labels: test

#1247 [feat-#1246][rabbitmq] add rabbitmq sql source plugin
  chunjun-connectors/chunjun-connector-rabbitmq/pom.xml
  chunjun-connectors/chunjun-connector-rabbitmq/src/main/java/com/dtstack/chunjun/connector/rabbitmq/options/RabbitmqOptions.java
  chunjun-connectors/chunjun-connector-rabbitmq/src/main/java/com/dtstack/chunjun/connector/rabbitmq/source/RabbitmqDynamicTableSource.java
  chunjun-connectors/chunjun-connector-rabbitmq/src/main/java/com/dtstack/chunjun/connector/rabbitmq/table/RabbitmqDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-rabbitmq/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/sql/rabbitmq/rabbitmq_stream.sql
  chunjun-local-test/pom.xml
  docs_zh/ChunJun连接器/rabbitmq/rabbitmq-source.md
Labels: feature-request

#1259 [hotfix-#1256][kudu]Fix SQLMode datatype mapping
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/source/KuduInputFormat.java
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/source/KuduInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/table/KuduDynamicTableSink.java
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/table/KuduDynamicTableSource.java
Labels: bug

#1258 [feat][jdbc] Add keyUtil to handle special columns
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/conf/JdbcConf.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcDynamicTableSource.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/SqlUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/key/DateTypeUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/key/KeyUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/key/NumericTypeUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/key/TimestampTypeUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormatTest.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/converter/MysqlRawTypeConverter.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/dialect/OracleDialect.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/source/OracleInputFormat.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/util/increment/OracleTimestampTypeUtil.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/dialect/SqlserverDialect.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/source/SqlserverInputFormat.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/util/SqlUtil.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/util/increment/SqlserverTimestampTypeUtil.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/containers/emqx/EmqxContainer.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/test/standalone/emqx/EmqxSyncE2eITCase.java
Labels: feature-request

#1260 [hotfix][column]Fix the issue of timestampColumn convert to long error
  chunjun-core/src/main/java/com/dtstack/chunjun/element/column/TimestampColumn.java
Labels: bug

#1264 [hotfix] ftp writer format null
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormatBuilder.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/FileOutputFormatBuilder.java
Labels: bug
