Repository DTStack/chunjun, pull requests merged in 2022-08, with the labels that each got.

#1120 [hotfix-#1119][pgsql] Connection cast-exception when use greenplum sink.
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/sink/GreenplumSinkFactory.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/sink/PostgresOutputFormat.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/sink/PostgresqlSinkFactory.java
Labels: bug

#1125 [hotfix-#1124][core] core module git-commit plugin not removed, cause compile and run error.
  chunjun-core/pom.xml
Labels: bug

#1173 [hotfix-#1172][assembly] Rebuild the chunjun-dist.tar.gz file structure
  chunjun-assembly/src/main/assembly/assembly.xml
Labels: bug

#1167 add oceanbasecdc connector
  chunjun-connectors/chunjun-connector-oceanbasecdc/pom.xml
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/conf/OceanBaseCdcConf.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/converter/OceanBaseCdcColumnConverter.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/converter/OceanBaseCdcRawTypeConverter.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/converter/OceanBaseCdcRowConverter.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/entity/OceanBaseCdcEventRow.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/inputformat/OceanBaseCdcInputFormat.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/inputformat/OceanBaseCdcInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/listener/OceanBaseCdcListener.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/options/OceanBaseCdcOptions.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/source/OceanBaseCdcDynamicTableSource.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/source/OceanbasecdcSourceFactory.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/table/OceanBaseCdcDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/json/oceanbasecdc/oceanbasecdc_stream_transformer.json
  chunjun-examples/sql/oceanbasecdc/oceanbasecdc_stream.sql
  chunjun-local-test/pom.xml
  docs_zh/ChunJun连接器/oceanbasecdc/OceanBaseCDC-source.md
Labels: feature-request

#1180 [hotfix-#1179][lookup] ChunJun 1.12 dimension table cannot be associated with the latest data
  chunjun-connectors/chunjun-connector-cassandra/src/main/java/com/dtstack/chunjun/connector/cassandra/source/CassandraDynamicTableSource.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/BaseHBaseDynamicTableSource.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcDynamicTableSource.java
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/table/KuduDynamicTableSource.java
  chunjun-connectors/chunjun-connector-redis/src/main/java/com/dtstack/chunjun/connector/redis/source/RedisDynamicTableSource.java
Labels: bug

#1196 [hotfix-#1195]change the code position to support oracle nchar、nvarch…
  chunjun-connectors/chunjun-connector-oraclelogminer/src/main/java/com/dtstack/chunjun/connector/oraclelogminer/listener/LogParser.java
  chunjun-core/src/test/java/com/dtstack/chunjun/util/UnicodeToStringTest.java
Labels: bug

#1203 [hotfix-#1202] JobUtil submit job with ${a} dynamic parameters error.
  chunjun-core/src/main/java/com/dtstack/chunjun/util/JobUtil.java
Labels: bug

#1205 [feat-#1204][e2e] Add Oracle Logminer E2E Test.
  chunjun-e2e/pom.xml
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/containers/oracle/OracleContainer.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/entity/LaunchCommandBuilder.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/test/ChunjunFlinkStandaloneE2eTest.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/test/FlinkStandaloneStreamE2eTests.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/test/standalone/oracle/sync/OracleSyncE2eITCase.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/test/standalone/postgre/sync/PostgreSyncE2eITCase.java
  chunjun-e2e/src/test/java/com/dtstack/chunjun/connector/test/utils/ChunjunFlinkStandaloneTestEnvironment.java
  chunjun-e2e/src/test/resources/docker/oracle/Dockerfile
  chunjun-e2e/src/test/resources/docker/oracle/init.sql
  chunjun-examples/json/logminer/logminer_oracle_to_oracle.json
  chunjun-examples/json/oracle/oracle_oracle.json
  pom.xml
Labels: test
