Repository DTStack/chunjun, pull requests merged in 2023-09, with the labels that each got.

#1788 [Feature-#1787]Support hadoop 3 compilation and packaging
  chunjun-connectors/chunjun-connector-binlog/pom.xml
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/sink/GreenplumSinkFactory.java
  chunjun-connectors/chunjun-connector-hdfs/pom.xml
  chunjun-connectors/chunjun-connector-hive/pom.xml
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-s3/src/main/java/com/dtstack/chunjun/connector/s3/config/S3Config.java
  chunjun-core/src/main/java/com/dtstack/chunjun/config/FieldConfig.java
  chunjun-core/src/main/java/com/dtstack/chunjun/element/column/StringColumn.java
  chunjun-core/src/main/java/com/dtstack/chunjun/typeutil/serializer/base/StringColumnSerializer.java
  pom.xml
Labels: CORE, HDFS, HIVE, GREENPLUM, BINLOG, S3

#1812 [hotfix-#1811][connector][mongodb] Fixed missing dependencies
  chunjun-connectors/chunjun-connector-mongodb/pom.xml
Labels: MONGODB

#1818 [hotfix-#1814][chunjun-connector-oracle] Consuming oracle data incorectly uses jdbc-base module's createInternalConverter logic
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

#1817 [hotfix-#1816][connector-oracle] fix NullPointerException when oracle…
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSyncConverter.java
Labels: ORACLE

#1824 [hotfix-#1823][connector][oracle] oracle Connector incorrectly consumed date-type data
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/converter/OracleSqlConverter.java
Labels: ORACLE

#1828 [hotfix-#1827][kudu]Fix flinksql kudu write mode parameter does not t…
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/table/KuduDynamicTableFactory.java
Labels: KUDU

#1826 [hotfix-#1825][hdfs]Synchronizing text and parquet table data, the sp…
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsParquetSyncConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextSyncConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
Labels: CORE, HDFS
