Repository DTStack/chunjun, pull requests merged in 2023-04, with the labels that each got.

#1595 [feat-#1594][jdbc]Optimize the acquisition of metadata information
  chunjun-connectors/chunjun-connector-db2/src/main/java/com/dtstack/chunjun/connector/db2/dialect/Db2Dialect.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/config/TableIdentify.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/DynamicPreparedStmt.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcSourceFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/sink/SinkFactoryTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/source/SourceFactoryTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/resources/sync_test.json
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/dialect/OracleDialect.java
  chunjun-connectors/chunjun-connector-oraclelogminer/src/main/java/com/dtstack/chunjun/connector/oraclelogminer/converter/LogMinerColumnConverter.java
  chunjun-connectors/chunjun-connector-vertica11/src/main/java/com/dtstack/chunjun/connector/vertica11/sink/Vertica11OutputFormat.java
Labels: enhancement

#1620 [feat-#1619][core] Optimize set syntax to not take effect, Optimize the waiting time for indicator reporting, optimize the numWrite indicator value error, etc.
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
  chunjun-core/src/main/java/com/dtstack/chunjun/environment/EnvFactory.java
  chunjun-core/src/main/java/com/dtstack/chunjun/metrics/BaseMetric.java
  chunjun-core/src/main/java/com/dtstack/chunjun/options/Options.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sql/parser/SetStmtParser.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sql/parser/SqlParser.java
Labels: CORE

#1628 [hotfix-#1627][mysql] fixed dependency problem , Upgrade mysql connector dependencies
  chunjun-connectors/chunjun-connector-mysql/pom.xml
Labels: MYSQL

#1631 [hotfix-#1629][client]fixed NullPointerException in local mode.
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/Launcher.java
Labels: CLIENTS

#1634 [feat-#1632][jdbc]Solve ClassCastException, optimize the problem of invalid database connection when writing
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/converter/JdbcSqlConverter.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/source/JdbcInputFormat.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/converter/MysqlRawTypeConverter.java
Labels: MYSQL
