Repository DTStack/chunjun, pull requests merged in 2023-06, with the labels that each got.

#1700 [hotfix-#1697][connector][ftp] fixed unsupported options
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/options/FtpOptions.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

#1703 [hotfix-#1701][connector][ftp] fixed Read timed out
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/DummyInitializationContext.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/converter/FtpSqlConverter.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/handler/FtpHandler.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/sink/FtpOutputFormat.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/spliter/ConcurrentZipCompressSplit.java
  chunjun-connectors/chunjun-connector-ftp/src/main/java/com/dtstack/chunjun/connector/ftp/table/FtpDynamicTableFactory.java
Labels: FTP

#1705 [hotfix-#1704][core] Fix json script deserialization error
  chunjun-core/src/main/java/com/dtstack/chunjun/config/FieldConfig.java
Labels: bug, CORE

#1696 [feature-#1690][connection][arctic] added arctic connector
  chunjun-connectors/chunjun-connector-arctic/pom.xml
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticReaderConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/conf/ArcticWriterConf.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticColumnConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/converter/ArcticRawTypeConverter.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticMetricsMapFunction.java
  chunjun-connectors/chunjun-connector-arctic/src/main/java/com/dtstack/chunjun/connector/arctic/sink/ArcticSinkFactory.java
  chunjun-connectors/chunjun-connector-arctic/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-examples/json/arctic/arctic_sink.json
Labels: DOCS

#1712 [hotfix-#1711][Binlog] Adapt to binlog plugin
  chunjun-connectors/chunjun-connector-binlog/pom.xml
  chunjun-core/pom.xml
  chunjun-local-test/pom.xml
Labels: CORE, LOCAL_TEST, BINLOG

#1725 [hotfix-#1724] [connector][hdfs]fix CannotObtainBlockLengthException
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
Labels: HDFS

#1721 [hotfix-#1710][connector][dm][elasticsearch7] fixed not found dependent package
  chunjun-connectors/chunjun-connector-dm/pom.xml
  chunjun-connectors/chunjun-connector-elasticsearch7/pom.xml
Labels: DM, ELASTICSEARCH7

#1744 [hotfix-#1743][kudu] Solving the problem of ineffective parallelism i…
  chunjun-connectors/chunjun-connector-kudu/src/main/java/com/dtstack/chunjun/connector/kudu/config/KuduSinkConfig.java
Labels: KUDU

#1749 [hotfix-#1748][starrocks] Add table structure cache
  chunjun-connectors/chunjun-connector-starrocks/pom.xml
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/config/StarRocksConfig.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/options/StarRocksSinkOptions.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/MappedWriteProcessor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/NormalWriteProcessor.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksDynamicTableSink.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StreamLoadManager.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/table/StarRocksDynamicTableFactory.java
Labels: STARROCKS

#1754 [hotfix-#1753][core]Add jobid and taskNumber to the local path of the…
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/sink/HBaseOutputFormat.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormat.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/table/lookup/HBaseLruTableFunction.java
  chunjun-connectors/chunjun-connector-hbase-base/src/main/java/com/dtstack/chunjun/connector/hbase/util/HBaseHelper.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/util/HBaseHelperTest.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/HdfsParquetOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/BaseHdfsInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsParquetInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/sink/HiveOutputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/util/HiveDbUtil.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/util/HiveUtil.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/sink/BaseHdfsOutputFormat.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/sink/HdfsParquetOutputFormat.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/sink/HdfsTransactionOutputFormat.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/source/BaseHdfsInputFormat.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/source/HdfsTransactionInputFormat.java
  chunjun-connectors/chunjun-connector-hive3/src/main/java/com/dtstack/chunjun/connector/hive3/util/Hive3Util.java
  chunjun-connectors/chunjun-connector-solr/src/main/java/com/dtstack/chunjun/connector/solr/client/CloudSolrClientKerberosWrapper.java
  chunjun-connectors/chunjun-connector-solr/src/main/java/com/dtstack/chunjun/connector/solr/sink/SolrOutputFormat.java
  chunjun-connectors/chunjun-connector-solr/src/main/java/com/dtstack/chunjun/connector/solr/source/SolrInputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/security/KerberosUtil.java
  chunjun-core/src/main/java/com/dtstack/chunjun/util/FileSystemUtil.java
  chunjun-core/src/test/java/com/dtstack/chunjun/security/KerberosUtilTest.java
Labels: CORE, HDFS, HIVE, HBASE, HIVE3, SOLR

#1757 [hotfix-1756][mysql]Fixed a decimal type precision calculation issue in MySQL
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
Labels: MYSQL

#1747 [fix][connector][ocenabasecdc] fix value converter and buffer flush
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/entity/OceanBaseCdcEventRow.java
  chunjun-connectors/chunjun-connector-oceanbasecdc/src/main/java/com/dtstack/chunjun/connector/oceanbasecdc/listener/OceanBaseCdcListener.java
  chunjun-examples/json/oceanbasecdc/oceanbasecdc_stream_transformer.json
Labels: DOCS, OCEANBASE-CDC

#1732 [feature-#1720][connection][mongodb] Support mongodb sql mode
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/sink/MongodbOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/source/MongodbInputFormatBuilder.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-mongodb/src/main/java/com/dtstack/chunjun/connector/mongodb/table/MongodbDynamicTableSource.java
  chunjun-examples/sql/mongo/mongo_to_mongo.sql
  chunjun-examples/sql/mongo/mongo_to_print.sql
Labels: DOCS, MONGODB

#1728 [hotfix-#1718] Dirty data is collected for all slots, not for a single slot
  chunjun-connectors/chunjun-connector-elasticsearch6/src/main/java/com/dtstack/chunjun/connector/elasticsearch6/sink/Elasticsearch6OutputFormat.java
  chunjun-connectors/chunjun-connector-elasticsearch7/src/main/java/com/dtstack/chunjun/connector/elasticsearch7/sink/ElasticsearchOutputFormat.java
  chunjun-connectors/chunjun-connector-influxdb/src/main/java/com/dtstack/chunjun/connector/influxdb/sink/InfluxdbOutputFormat.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/serialization/RowDeserializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/serialization/RowSerializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/DynamicKafkaSerializationSchema.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/source/DynamicKafkaDeserializationSchema.java
  chunjun-connectors/chunjun-connector-nebula/src/main/java/com/dtstack/chunjun/connector/nebula/sink/NebulaOutputFormat.java
  chunjun-connectors/chunjun-connector-rocketmq/src/main/java/com/dtstack/chunjun/connector/rocketmq/source/deserialization/RowKeyValueDeserializationSchema.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollector.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/manager/DirtyManager.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/source/format/BaseRichInputFormat.java
  chunjun-core/src/test/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollectorTest.java
Labels: CORE, STARROCKS, ELASTICSEARCH6, ELASTICSEARCH7, INFLUXDB, KAFKA, NEBULA, ROCKETMQ
