Repository DTStack/chunjun, pull requests merged in 2023-05, with the labels that each got.

#1655 [hotfix-#1652][core]Fix problems in various operating modes
  chunjun-clients/pom.xml
  chunjun-clients/src/main/java/com/dtstack/chunjun/client/Launcher.java
  chunjun-core/src/main/java/com/dtstack/chunjun/Main.java
Labels: CORE, CLIENTS

#1648 [feat-#1647][hdfs] Support to generate an empty file with a specified file name in the target directory, and other optimization
  chunjun-connectors/chunjun-connector-hdfs/pom.xml
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/config/HdfsConfig.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/converter/HdfsTextColumnConverter.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/options/HdfsOptions.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/sink/BaseHdfsOutputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsTextInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/table/HdfsDynamicTableFactory.java
Labels: HDFS

#1658 [feat-#1649][hive] Support jdbc mode to read hive
  chunjun-connectors/chunjun-connector-hive/pom.xml
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/converter/HiveJdbcColumnConverter.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/converter/HiveRawTypeConverter.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/dialect/HiveDialect.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveSourceFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
Labels: HIVE

#1671 [feat-#1670][core] Support yarn log output dirty data details
  chunjun-core/src/main/java/com/dtstack/chunjun/converter/AbstractRowConverter.java
  chunjun-core/src/main/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollector.java
  chunjun-core/src/test/java/com/dtstack/chunjun/dirty/consumer/DirtyDataCollectorTest.java
Labels: CORE

#1676 [Improve-1.16][JDBC]jdbcOutputFormat use statementWrapper
  chunjun-connectors/chunjun-connector-clickhouse/src/main/java/com/dtstack/chunjun/connector/clickhouse/dialect/ClickhouseDialect.java
  chunjun-connectors/chunjun-connector-db2/src/main/java/com/dtstack/chunjun/connector/db2/dialect/Db2Dialect.java
  chunjun-connectors/chunjun-connector-dm/src/main/java/com/dtstack/chunjun/connector/dm/dialect/DmDialect.java
  chunjun-connectors/chunjun-connector-doris/src/main/java/com/dtstack/chunjun/connector/doris/sink/DorisDynamicTableSink.java
  chunjun-connectors/chunjun-connector-greenplum/src/main/java/com/dtstack/chunjun/connector/greenplum/dialect/GreenplumDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialect.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/DynamicPreparedStmt.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcDynamicTableSink.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormat.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatBuilder.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcSinkFactory.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/PreparedStmtProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/InsertOrUpdateStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/JdbcBatchStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/SimpleStatementWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/StatementWrapperUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/InsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/InsertOrUpdateCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/NoKeyInsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/buffer/UpsertDeleteCompactionWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/CachedWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/DynamicSimpleDeleteWrapper.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/NoKeyDeleteWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/sink/wrapper/proxy/RestoreWrapperProxy.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatement.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/statement/FieldNamedPreparedStatementImpl.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/main/java/com/dtstack/chunjun/connector/jdbc/util/JdbcUtil.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/dialect/JdbcDialectTest.java
  chunjun-connectors/chunjun-connector-jdbc-base/src/test/java/com/dtstack/chunjun/connector/jdbc/sink/JdbcOutputFormatTest.java
  chunjun-connectors/chunjun-connector-mysql/src/main/java/com/dtstack/chunjun/connector/mysql/dialect/MysqlDialect.java
  chunjun-connectors/chunjun-connector-oracle/src/main/java/com/dtstack/chunjun/connector/oracle/dialect/OracleDialect.java
  chunjun-connectors/chunjun-connector-postgresql/src/main/java/com/dtstack/chunjun/connector/postgresql/dialect/PostgresqlDialect.java
  chunjun-connectors/chunjun-connector-saphana/src/main/java/com/dtstack/chunjun/connector/saphana/dialect/SaphanaDialect.java
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/dialect/SqlserverDialect.java
  chunjun-connectors/chunjun-connector-sybase/src/main/java/com/dtstack/chunjun/connector/sybase/converter/SybaseSyncConverter.java
  chunjun-connectors/chunjun-connector-vertica11/src/main/java/com/dtstack/chunjun/connector/vertica11/sink/Vertica11OutputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
  chunjun-examples/sql/starrocks/stream_starrocks.sql
Labels: enhancement, CORE, MYSQL, DOCS, CLICKHOUSE, DB2, DM, DORIS, GREENPLUM, ORACLE, POSTGRESQL, SAPHANA, SQLSERVER, SYBASE, VERTICA

#1675 [hotfix-#1674][connector][hdfs] fixed Unexpected end of input stream
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/BaseHdfsInputFormat.java
  chunjun-connectors/chunjun-connector-hdfs/src/main/java/com/dtstack/chunjun/connector/hdfs/source/HdfsTextInputFormat.java
Labels: HDFS

#1677 Fix EmqxRowConverter.toExternal NullPointerException
  chunjun-connectors/chunjun-connector-emqx/src/main/java/com/dtstack/chunjun/connector/emqx/converter/EmqxRowConverter.java
Labels: EMQX

#1665 [feature][connector][hudi] add hudi json write function
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-hudi/.gitignore
  chunjun-connectors/chunjun-connector-hudi/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/adaptor/HudiOnChunjunAdaptor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataMapping.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/sink/HudiSinkFactory.java
  chunjun-connectors/pom.xml
  chunjun-core/pom.xml
  chunjun-examples/json/hudi/hudi2hudi.json
  pom.xml
Labels: CORE, CLIENTS, DOCS

#1681 [feature-#1680][connection][kafka]A null pointer exception occurs after security is enabled
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/converter/KafkaSyncConverter.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/sink/KafkaSinkFactory.java
  chunjun-connectors/chunjun-connector-kafka/src/main/java/com/dtstack/chunjun/connector/kafka/source/KafkaSourceFactory.java
Labels: KAFKA

#1666 [feature][connector][hudi] add hudi json read function and sql read/write
  chunjun-clients/pom.xml
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRawTypeConvertor.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/converter/HudiRowDataConvertorMap.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/source/HudiSourceFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/table/HudiDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hudi/src/main/java/com/dtstack/chunjun/connector/hudi/utils/HudiConfigUtil.java
  chunjun-connectors/chunjun-connector-hudi/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  chunjun-connectors/pom.xml
  chunjun-core/pom.xml
  pom.xml
Labels: CORE, CLIENTS

#1684 [hotfix-#1682][connector][hive] fixed hive jdbc read timed out
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/source/HiveInputFormat.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/table/HiveDynamicTableFactory.java
  chunjun-connectors/chunjun-connector-hive/src/main/java/com/dtstack/chunjun/connector/hive/util/HiveDbUtil.java
Labels: HIVE

#1687 [hotfix][test]Fix test problems caused by type enhancement
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/config/HBaseConfigTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/sink/HBaseOutputFormatTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/source/HBaseInputFormatTest.java
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/util/ScanBuilderTest.java
  chunjun-core/src/main/java/com/dtstack/chunjun/typeutil/serializer/base/TimeColumnSerializer.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/BooleanColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/ByteColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/BytesColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/DecimalColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/DoubleColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/FloatColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/IntColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/LongColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/MapColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/ShortColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/SqlDateColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/StringColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/TimeColumnSerializerTest.java
  chunjun-core/src/test/java/com/dtstack/chunjun/typeutil/serializer/base/TimestampColumnSerializerTest.java
Labels: bug, CORE, HBASE
