Repository DTStack/chunjun, pull requests merged in 2024-07, with the labels that each got.

#1902 [Feature][chunjun-core] Supports capturing dirty data from the source and when the source sends it downstream #1901
  chunjun-core/src/main/java/com/dtstack/chunjun/source/DtInputFormatSourceFunction.java
  chunjun-core/src/main/java/com/dtstack/chunjun/source/format/BaseRichInputFormat.java
  chunjun-core/src/main/java/com/dtstack/chunjun/throwable/ReadRecordException.java
Labels: CORE

#1907 [hotfix-1906][hbase]#1906 resolve hbase unit test failed
  chunjun-connectors/chunjun-connector-hbase-base/src/test/java/com/dtstack/chunjun/connector/hbase/converter/HBaseSerdeTest.java
Labels: HBASE

#1905 [hotfix-#1904][sqlserver] fixed No suitable driver found for jdbc jtds
  chunjun-connectors/chunjun-connector-sqlserver/src/main/java/com/dtstack/chunjun/connector/sqlserver/table/SqlserverDynamicTableFactory.java
Labels: SQLSERVER

#1909 [hotfix-1908][chunjun-connector-starrocks] starrocks data size check
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/options/ConstantValue.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksOutputFormat.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksSinkFactory.java
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/streamload/StarRocksStreamLoadVisitor.java
  chunjun-core/src/main/java/com/dtstack/chunjun/sink/format/BaseRichOutputFormat.java
Labels: CORE, STARROCKS

#1910 [hotfix-1908][chunjun-connector-starrocks]: starrocks data size check
  chunjun-connectors/chunjun-connector-starrocks/src/main/java/com/dtstack/chunjun/connector/starrocks/sink/StarRocksSinkFactory.java
Labels: STARROCKS
